<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
    <title>HNJ Trang Sức Đá Quý - Tỏa Sáng Từng Khoảnh Khắc</title>
    <meta name="robots" content="index, follow" />
    <meta property="fb:app_id" content="564941807505847" />
    <link rel="SHORTCUT ICON" href="~/customer/img/HNJLogo.svg" type="image/x-icon" />
    <link rel="icon" href="~/customer/img/HNJlogo.svg" type="image/gif" />
    <link href="https://ijc.vn/js/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://ijc.vn/js/slick/slick.css" rel="stylesheet" type="text/css" />
    <link href="https://ijc.vn/js/slick/slick-theme.css" rel="stylesheet" />
    <link href="https://ijc.vn/js/menumobile/menumobile.css" rel="stylesheet" type="text/css" />
    <link href="https://ijc.vn/js/datepicker/datepicker.css" rel="stylesheet" type="text/css" />
    <link href="https://ijc.vn/js/fancybox3/jquery.fancybox.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="https://ijc.vn/js/jquery_alerts/jquery.alerts.css" rel="stylesheet" type="text/css" />
    <link href="https://ijc.vn/skins/default/style/fontawesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="https://ijc.vn/skins/default/style/font/fontawesome/css/all.min.css" rel="stylesheet" type="text/css" />
    <link href="~/customer/style/all.css" rel="stylesheet" />
    <link href="~/customer/style/styleH.css" rel="stylesheet" />
    <link href="~/customer/style/animate.css" rel="stylesheet" />
    <link href="~/customer/style/hover-min.css" rel="stylesheet" />
    <link href="~/customer/style/screen.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/customer/style/pre-loader.css" />

    <!-- Messenger Chat plugin Code -->
    <div id="fb-root"></div>

    <!-- Your Chat plugin code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>var chatbox = document.getElementById('fb-customer-chat');
        chatbox.setAttribute("page_id", "106261109147128");
        chatbox.setAttribute("attribution", "biz_inbox");</script>

    <!-- Your SDK code -->
    <script>window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v16.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <script language="javascript">var ROOT = "https://ijc.vn/";
        var ROOT_MOD = "https://ijc.vn/vn/trang-chu";
        var ROOT_PRO = "https://ijc.vn/vn/san-pham";
        var mod = "main";
        var DIR_IMAGE = "https://ijc.vn/skins/default/images";
        var cmd = "vnTRUST";
        var lang = "vn";
        var mem_id = 0;
        var js_lang = new Array();
        js_lang['announce'] = "Thông báo";
        js_lang['error'] = "Báo lỗi";</script>
    <script type="text/javascript" src="https://ijc.vn/js/global.js?lang=vn"></script>
    <script type="text/javascript" src="https://ijc.vn/js/jquery.min.js"></script>
    <script type="text/javascript" src="https://ijc.vn/js/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="https://ijc.vn/js/bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="~/customer/js/slick.js"></script>

    <script type="text/javascript" src="https://ijc.vn/js/menumobile/menumobile.js"></script>

    <script type="text/javascript" src="https://ijc.vn/js/datepicker/datepicker.js"></script>
    <script type="text/javascript" src="https://ijc.vn/js/fancybox3/jquery.fancybox.js"></script>
    <script type="text/javascript" src="https://ijc.vn/js/nicescroll/jquery.nicescroll.js"></script>
    <script type="text/javascript" src="https://ijc.vn/js/core.js?v=6.0"></script>
    <script type="text/javascript" src="https://ijc.vn/js/style.js"></script>
    <script type="text/javascript" src="https://ijc.vn/js/jquery_alerts/jquery.alerts.js"></script>
    <script type="text/javascript" src="https://ijc.vn/js/mnfixed/mnfixed.js"></script>
    <script type="text/javascript" src="https://ijc.vn/js/my_effect_scroll/my_effect_scroll.js"></script>
    <script type="text/javascript" src="https://ijc.vn/js/wow.min.js"></script>

    @*<script type="text/javascript" src="https://ijc.vn/js/customstyle.js"></script>*@
    <link rel="stylesheet" href="https://ijc.vn/modules/main/css/main.css?v=1.2" type="text/css" />
    <script type="text/javascript" src="https://ijc.vn/modules/main/js/main.js?v=2.0"></script>
    <meta name="facebook-domain-verification" content="g8ve7t3f2ig63h8la10d4z6f8drhp3" />
    <script type="text/javascript" src="https://ijc.vn/js/custom.js"></script>
    <link rel="stylesheet" href="https://ijc.vn/skins/default/style/custom.css" />
    <script src="~/customer/lib/cart.js"></script>

    <script>
        $(document).ready(function () {
            var isLoginSuccess = @((ViewBag.customerSession != null).ToString().ToLower());
            if (isLoginSuccess) {
                // Doi dang nhap thanh dang xuat
                $("#signIn").css("display", "none");
                $("#signOut").css("display", "block");

                // Doi popup cua accountTop


                var popup = `<div class="listNot">
                                                        <ul>
                                                            <li>
                                                                @Html.ActionLink("Thông tin cá nhân", "index", "customer", new { area = "customer" })

                                                            </li>
                                                            <li>
                                                                @Html.ActionLink("Đơn hàng của bạn", "order", "customer", new { area = "customer" })
                                                            </li>
                                                        </ul>
                                                    </div>
                                                   `;

                document.getElementById("account_pop_up").innerHTML = popup;

                }
            else {

                // Doi dang nhap thanh dang xuat
                $("#signIn").css("display", "block");
                $("#signOut").css("display", "none");

                // Doi popup cua accountTop

                var popup = `<div class="listNot">
                                                        <ul>
                                                            <li>
                                                                @Html.ActionLink("Đăng nhập", "login", "customer", new { area = "customer" })

                                                            </li>
                                                            <li>
                                                                @Html.ActionLink("Tạo tài khoản", "login", "customer", new { area = "customer" })
                                                            </li>
                                                        </ul>
                                                    </div>
                                                   `;

                document.getElementById("account_pop_up").innerHTML = popup;


            }

        });

    </script>
</head>
<body>
    <div id="vnt-wrapper">
        <div id="vnt-container">
            <div id="vnt-header">
                <div class="vntheader">
                    <div class="mainFixed">
                        <div class="wrapping">
                            <div class="mainHead grmainheadmb">
                                <div class="coll">
                                    <div class="grlgmenu">
                                        <div class="div left hidden-sm hidden-xs ">
                                            <div class="hotlineTop ">
                                                <span class="vhrung">
                                                    <img src="https://ijc.vn/skins/default/images/i-phone.svg" alt="phone" />
                                                </span>
                                                @*<a href="tel:(+84)275 3848 126">
                                                    <span>(+84)275 3848 126</span>
                                                </a>*@
                                                <a href="tel:0348 808 427">
                                                    <span>0348 808 427</span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="menu_mobile hidden-lg hidden-md">
                                            <div class="icon">
                                                <span class="style_icon"></span>
                                            </div>
                                        </div>
                                        <div class="logo">
                                            <a asp-area="customer" asp-controller="home" asp-action="index">
                                                @*<img width="130" height="60" src='~/customer/img/logokvfig.svg' alt='' />*@
                                                <img width="130" height="60" src='~/customer/img/HNJLogo.svg' alt=''/>

                                            </a>
                                            <h1 style="display:none"></h1>
                                        </div>
                                    </div>
                                </div>
                                <div class="colr">
                                    <div class="vhtoolhead hidden-md hidden-lg">
                                        <div class="colt">
                                            <div class="searchTop">
                                                <div class="icon">
                                                    <img src="https://ijc.vn/skins/default/images/i-search.svg" alt="search" />
                                                </div>
                                                <div class="popup">
                                                    <form id="formSearch" name="formSearch" method="get" action="https://ijc.vn/vn/san-pham/search.html/" onSubmit="return check_search(this);" class="box_search">
                                                        <input placeholder="Vui lòng nhập từ khóa" name="keyword" id="keyword" type="text" value="" class="text_search" />
                                                        <button>
                                                            <img src="https://ijc.vn/skins/default/images/i-search.svg" alt="" />
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="colt">
                                            <div class="accountTop">
                                                <div class="icon">
                                                    <img src="https://ijc.vn/skins/default/images/user.png" alt="user" />
                                                </div>
                                                <div class="popup">
                                                    <div class="listNot">
                                                        <ul>
                                                            <li>
                                                                <a asp-area="customer" asp-controller="customer" asp-action="login">Đăng nhập</a>
                                                            </li>
                                                            <li>
                                                                <a class="v2" href="https://ijc.vn/vn/member/register.html">Tạo tài khoản</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="colt">
                                            <div class="cartDesk">
                                                <a>
                                                    <span class="icon">
                                                        <img src="https://ijc.vn/skins/default/images/i-cart.svg" alt="cart" />
                                                    </span>
                                                    <span class="numb has">0</span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="colt">
                                            <div class="languageTop ">
                                                <ul>
                                                    <li class="current active">
                                                        <a href="https://ijc.vn/vn/trang-chu.html">VN</a>
                                                    </li>
                                                    <li>
                                                        <a href="https://ijc.vn/en/main.html">EN</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="div right hidden-sm hidden-xs">
                                        <div class="linkTop" id="sign">
                                            <a id="signIn" asp-area="customer" asp-controller="customer" asp-action="login">
                                                <span>Đăng nhập</span>
                                            </a>

                                            <a id="signOut" asp-area="customer" asp-controller="customer" asp-action="logout">
                                                <span>Đăng xuất</span>
                                            </a>
                                        </div>
                                        <div class="linkTop">
                                            <a href="https://ijc.vn/vn/tin-tuc.html" _self=_self>
                                                <span>Tin tức</span>
                                            </a>
                                        </div>
                                        <div class="linkTop">
                                            <a href="https://ijc.vn/vn/cua-hang.html">
                                                <span>Cửa hàng</span>
                                            </a>
                                        </div>
                                        <div class="linkTop">
                                            <a href="https://ijc.vn/vn/lien-he.html" _self=_self>
                                                <span>Liên hệ</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="menuHead hidden-sm hidden-xs">
                        <div class="wrapping">
                            <div class="vhheadmeni">
                                <div class="coll">
                                    <div class="iconsubmn">
                                        <div class="iconss">
                                            <span class="linesub"></span>
                                            <span class="txt">MENU</span>
                                        </div>
                                        <div class="submenuAll">
                                            <ul>
                                                <li>
                                                    <a href="https://ijc.vn/vn/gioi-thieu-ijc.html" target="_self">GIỚI THIỆU</a>
                                                </li>
                                                <li>
                                                    <a href="https://ijc.vn/vn/khuyen-mai.html" target="_self">KHUYẾN MẠI</a>
                                                </li>
                                                <li>
                                                    <a href="https://ijc.vn/vn/san-pham-theo-menh.html" target="_self">TRANG SỨC THEO MỆNH</a>
                                                </li>
                                                <li>
                                                    <a href="https://ijc.vn/vn/huong-dan-mua-hang.html" target="_self">HƯỚNG DẪN MUA HÀNG</a>
                                                </li>
                                                <li>
                                                    <a href="https://ijc.vn/chinh-sach-bao-hanh-thu-doi.html" target="_self">CHÍNH SÁCH BẢO HÀNH THU ĐỔI</a>
                                                </li>
                                                <li>
                                                    <a href="https://ijc.vn/vn/tin-tuc.html" target="_self">TIN TỨC</a>
                                                    <ul>
                                                        <li>
                                                            <a href="https://ijc.vn/vn/tin-khuyen-mai.html">TIN KHUYẾN MÃI</a>
                                                        </li>
                                                        <li>
                                                            <a href="https://ijc.vn/vn/tin-ijc.html">TIN IJC</a>
                                                        </li>
                                                        <li>
                                                            <a href="https://ijc.vn/vn/kien-thuc-da-quy.html">KIẾN THỨC ĐÁ QUÝ</a>
                                                        </li>
                                                        <li>
                                                            <a href="https://ijc.vn/vn/chon-trang-suc-hop-menh.html">CHỌN TRANG SỨC HỢP MỆNH</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="https://ijc.vn/vn/lien-he.html" target="_self">LIÊN HỆ</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="colc">
                                    <div class="menuTop">
                                        <ul>
                                            @foreach (var cate in ViewBag.cates)
                                            {
                                                if (cate.ParentId == null)
                                                {
                                                    <li class='menu hassub'>
                                                        <a asp-area="customer" asp-controller="product" asp-action="index" asp-route-id="@cate.Id">@cate.Name</a>
                                                        <div class="sub_megamenu">
                                                            <div class="wrapping">
                                                                <div class="grsubmenu">
                                                                    <div class="colss">
                                                                        <ul>
                                                                            @foreach (var subCate in ViewBag.cates)
                                                                            {
                                                                                if (subCate.ParentId != null && subCate.ParentId.Equals(cate.Id))
                                                                                {
                                                                                    <li style="display:inline;">
                                                                                        <a asp-area="customer" asp-controller="product" asp-action="index" asp-route-id="@subCate.Id">@subCate.Name</a>
                                                                                    </li>
                                                                                }
                                                                            }
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>

                                                }
                                            }
                                            <li class='menu hassub'>
                                                <a href="javascript:void(0)" target="_self">Trang sức phong thuỷ</a>
                                                <div class="sub_megamenu">
                                                    <div class="wrapping">
                                                        <div class="grsubmenu">
                                                            <div class="colss">
                                                                <ul>
                                                                    @foreach (var geo in ViewBag.geos)
                                                                    {
                                                                        <li style="display:inline;">
                                                                            <a>@geo.Name</a>
                                                                        </li>
                                                                    }
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="menu">
                                                <a asp-area="customer" asp-controller="home" asp-action="ordertrack">Đơn hàng của bạn</a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                                <div class="colr">
                                    <div class="vhtoolhead">

                                        <div class="colt">
                                            <div class="searchTop">
                                                <div class="icon">
                                                    <img src="https://ijc.vn/skins/default/images/i-search.svg" alt="search" />
                                                </div>
                                                <div class="popup">
                                                    <form id="formSearch" name="formSearch" method="get" action="https://ijc.vn/vn/san-pham/search.html/" onSubmit="return check_search(this);" class="box_search">
                                                        <input placeholder="Vui lòng nhập từ khóa" name="keyword" id="keyword" type="text" value="" class="text_search" />
                                                        <button>
                                                            <img src="https://ijc.vn/skins/default/images/i-search.svg" alt="" />
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="colt">
                                            <div class="accountTop">
                                                <div class="icon">
                                                    <img src="https://ijc.vn/skins/default/images/user.png" alt="user" />
                                                </div>
                                                <div id="account_pop_up" class="popup">
                                                    <div class="listNot">
                                                        <ul>
                                                            <li>
                                                                <a asp-area="customer" asp-controller="customer" asp-action="login">Đăng nhập</a>
                                                            </li>
                                                            <li>
                                                                <a class="v2" href="https://ijc.vn/vn/member/register.html">Tạo tài khoản</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="listSocial">
                                                        <div class="txt">Hoặc đăng nhập bằng</div>
                                                        <div class="soc">
                                                            <a href="javascript:void(0);" class="facebook facebookLogin">
                                                                <span class="fa-facebook">Facebook</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="colt">
                                            <div class="cartDesk">
                                                <a asp-area="customer" asp-controller="cart" asp-action="cartpage">
                                                    <span class="icon">
                                                        <img src="https://ijc.vn/skins/default/images/i-cart.svg" alt="cart" />
                                                    </span>
                                                    <div class="header__cart-list" id="header__cart-list">
                                                        <!-- Preloader -->
                                                        <div class="wrapperanimate" id="pre-loader" style="display:none;">
                                                            <div class="circle"></div>
                                                            <div class="circle"></div>
                                                            <div class="circle"></div>
                                                            <div class="shadow"></div>
                                                            <div class="shadow"></div>
                                                            <div class="shadow"></div>
                                                        </div>

                                                        <!-- Empty cart -->
                                                        @if (ViewBag.cart == null)
                                                        {
                                                            <div class="header__cart-no-cart" style="margin:auto; margin-top:140px;" id="header__cart-no-cart">
                                                                <img src="~/admin/images/products/bag.png" alt="Empty cart" width="70px;" style="opacity:0.5;" />
                                                                <p>Giỏ hàng rỗng</p>
                                                            </div>
                                                        }
                                                        <div class="not-empty-cart" id="not-empty-cart">
                                                            <h4 class="header__cart-heading">Sản phẩm đã thêm</h4>
                                                            <hr style="opacity:0.8;margin:0; width:94%; margin-left:10px;" />
                                                            <!-- Not empty cart -->
                                                            <ul class="header__cart-list-item">
                                                                <!-- <li> tag render vao day -->
                                                                @if (ViewBag.cart != null)
                                                                {
                                                                    @foreach (var item in ViewBag.cart)
                                                                    {
                                                                        <li class="header__cart-item">
                                                                            <div class="cart__over-wrapper" style="display:flex;margin-left:18px;margin-right:20px;">
                                                                                <span style="position: relative;">
                                                                                    <label class="checkbox-container">
                                                                                        @if (item.isCheck)
                                                                                        {
                                                                                            <input onclick="checkPaidProduct('@item.product_detail_id');" class="paid-product" data-id="@item.product_detail_id" id="check-@item.product_detail_id" type="checkbox" checked="checked" />
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <input onclick="checkPaidProduct('@item.product_detail_id');" class="paid-product" data-id="@item.product_detail_id" id="check-@item.product_detail_id" type="checkbox" />
                                                                                        }
                                                                                        <span class="checkmark" style="position: absolute;top:-9px;"></span>
                                                                                    </label>
                                                                                </span>
                                                                            </div>
                                                                            <img src="/admin/images/products/@item.image" alt="Watch" class="header__cart-img" />
                                                                            <div class="header__cart-item-info">
                                                                                <div class="header__cart-item-head">
                                                                                    <h5 class="header__cart-item-name">@item.name</h5>
                                                                                    <div class="header__cart-item-price-wrap">
                                                                                        <span class="header__cart-item-price">@item.price $</span>
                                                                                        <span class="header__cart-item-multiply">x</span>
                                                                                        <span class="header__cart-item-quantity" id="@item.product_detail_id.Trim()">@item.quantity</span>
                                                                                        <input type="hidden" value="@(item.price * item.quantity)" class="subTotal" id="subTotal-@item.product_detail_id.Trim()" />
                                                                                    </div>
                                                                                </div>

                                                                                <div class="header__cart-item-body">
                                                                                    <span class="header__cart-item-description">
                                                                                        Kích cỡ sản phẩm đã chọn: @item.size
                                                                                    </span>
                                                                                    <span class="header__cart-item-remove" onclick="removeItemFromCart(event,'@item.product_detail_id');">Xoá</span>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                    }
                                                                }
                                                            </ul>
                                                        </div>


                                                        <div class="header__checkout" id="header__checkout">
                                                            <div class="checkout-footer">
                                                                <div class="checkout-body">
                                                                    <div class="form-check">
                                                                        <label class="form-check-label" style="font-weight:200;">Tất cả</label>
                                                                    </div>
                                                                    <div class="checkout-total">
                                                                        <span style="color:#333;">Tổng cộng:</span>
                                                                        <span class="checkout-total-money">@ViewBag.total $</span>
                                                                    </div>
                                                                </div>
                                                                <input type="button" style="margin-top:6px;" class="btn btn-checkout" value="XEM GIỎ HÀNG" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <span class="numb has" id="cartQuantity">@ViewBag.quantity</span>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="colt">
                                            <div class="languageTop ">
                                                <ul>
                                                    <li class="current active">
                                                        <a href="https://ijc.vn/vn/trang-chu.html">VN</a>
                                                    </li>
                                                    <li>
                                                        <a href="https://ijc.vn/en/main.html">EN</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @RenderBody()

            <div id="vnt-footer">
                <div class="vhtopfoot">
                    <div class="wrapping">
                        <div class="vhgripfoot">
                            <div class="colb">
                                <div class="vhltfoot">
                                    <div class="vhdcfoot">
                                        <div class="dcname">CÔNG TY CỔ PHẦN TRANG SỨC ĐÁ QUÝ HNJ</div>

                                        <div class="dcinfo">
                                            <span>Địa chỉ:</span>
                                            79 Đường số 37, Khu dân cư Bình Phú, P. 10, Q. 6, Tp. Hồ Chí Minh -
                                            <span>Hotline:</span>
                                            02753848126 -
                                            <span> Email:</span>
                                            hnj@hnj.vn
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="coln">
                                <div class="vhrtfoot">
                                    <div class="ctfoot">
                                        <a href="http://online.gov.vn/Home/WebDetails/65195" target="_blank">
                                            <img alt="congthuong" src="https://ijc.vn/vnt_upload/File/11_2019/congthuong.svg" />
                                        </a>
                                    </div>

                                    <div class="chnhdkfoot">
                                        Giấy chứng nhận đăng ký kinh doanh :
                                        <span>0314741591</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vhmainfoot">
                    <div class="wrapping">
                        <div class="vhgripfoot">
                            <div class="coln">
                                <div class="boxBot itemsubmb">
                                    <div class="title">VỀ HNJ</div>
                                    <div class="content">
                                        <div class="botLink">
                                            <ul>
                                                <li>
                                                    <a>Thông tin về IJC</a>
                                                </li>
                                                <li>
                                                    <a>Định hướng phát triển</a>
                                                </li>
                                                <li>
                                                    <a>Hệ thống cửa hàng</a>
                                                </li>
                                                <li>
                                                    <a>Tin Charm Group</a>
                                                </li>
                                                <li>
                                                    <a>Tin tức</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="coln">
                                <div class="boxBot itemsubmb">
                                    <div class="title">HỖ TRỢ MUA HÀNG</div>
                                    <div class="content">
                                        <div class="botLink">
                                            <ul>
                                                <li>
                                                    <a href="https://ijc.vn/vn/huong-dan-mua-hang.html">Hướng dẫn mua hàng</a>
                                                </li>
                                                <li>
                                                    <a href="https://ijc.vn/vn/phuong-thuc-thanh-toan.html">Phương thức thanh toán</a>
                                                </li>
                                                <li>
                                                    <a href="https://ijc.vn/vn/chinh-sach-bao-hanh-thu-doi.html">Chính sách bảo hành thu đổi</a>
                                                </li>
                                                <li>
                                                    <a href="https://ijc.vn/vn/dieu-khoan-su-dung-website-ijc.html">Điều khoản sử dụng</a>
                                                </li>
                                                <li>
                                                    <a href="https://ijc.vn/vn/chinh-sach-bao-mat-thong-tin-khach-hang.html">Chính sách bảo mật thông tin</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="coln">
                                <div class="boxBot itemsubmb">
                                    <div class="title">CHỌN TRANG SỨC HỢP MỆNH</div>
                                    <div class="content">
                                        <div class="botLink">
                                            <ul>
                                                <li>
                                                    <a href="https://ijc.vn/vn/chon-trang-suc-da-quy-theo-thang-sinh.html">Trang sức theo tháng sinh</a>
                                                </li>
                                                <li>
                                                    <a href="https://ijc.vn/vn/chon-trang-suc-da-quy-theo-phong-thuy.html">Trang sức theo phong thuỷ</a>
                                                </li>
                                                <li>
                                                    <a href="https://ijc.vn/vn/chon-trang-suc-da-quy-theo-cung-hoang-dao.html">Trang sức theo cung hoàng đạo</a>
                                                </li>
                                                <li>
                                                    <a href="https://ijc.vn/vn/chon-trang-suc-da-quy-theo-numberology-than-so-hoc.html">Trang sức theo Thần số học</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="coln">
                                <div class="boxBot itemsubmb">
                                    <div class="title">CẨM NANG SỬ DỤNG</div>
                                    <div class="content">
                                        <div class="botLink">
                                            <ul>
                                                <li>
                                                    <a href="https://ijc.vn/vn/huong-dan-do-size-trang-suc.html">Hướng dẫn đo size trang sức</a>
                                                </li>
                                                <li>
                                                    <a href="https://ijc.vn/vn/huong-dan-su-dung-trang-suc.html">Hướng dẫn sử dụng trang sức</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="coln">
                                <div class="boxBot">
                                    <div class="title">ĐĂNG KÝ NHẬN TIN</div>
                                    <div class="content">
                                        <div class="formRecive">
                                            <div class="txt">Nhận thông tin mới và ưu đãi</div>
                                            <form action="" method="post">
                                                <input name="femail" id="femail" type="text" placeholder="Nhập mail của bạn" />
                                                <button type="button" onclick="vnTRUST.registerMaillist();">
                                                    <i class="fa fa-caret-right"></i>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="boxBot">
                                    <div class="title" style="margin-bottom: 15px;">Cửa hàng</div>
                                    <div class="content">
                                        <div class="storeFoot">
                                            <a href="https://ijc.vn/vn/cua-hang.html">
                                                <span>Chọn cửa hàng</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vhbotfoot">
                    <div class="wrapping">
                        <div class="vhgripfoot">
                            <div class="colb">
                                <div class="copyright">
                                    <div class="copy">
                                        <span class="pos">© 2019</span>
                                        CÔNG TY CỔ PHẦN TRANG SỨC ĐÁ QUÝ HNJ
                                    </div>
                                    <div class="per">-</div>
                                    <div class="tkw">
                                        <a href='http://www.thietkeweb.com' target='_blank' title='thiet ke web' rel='dofollow' class='thietkeweb'>Thiết kế web :</a>
                                        <strong>
                                            <a href='http://www.trust.vn' target='_blank' rel='dofollow'>TRUST.vn</a>
                                        </strong>
                                    </div>
                                </div>
                            </div>
                            <div class="coln">
                                <div class="socialFoot">
                                    <span class="txt">Follow us:</span>
                                    <ul>
                                        <li class="">
                                            <a href="https://www.facebook.com/ijcvietnam" title="" target="_blank">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="https://www.instagram.com/ijctrangsucdaquy/" title="" target="_blank">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="https://www.youtube.com/channel/UC55wlyO0vLMnOEAJE3pDUQg" title="" target="_blank">
                                                <i class="fab fa-youtube"></i>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="https://www.pinterest.com/TrangSucDaQuyIJC" title="" target="_blank">
                                                <i class="fab fa-pinterest"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="menu_mobile">
        <div class="divmm">
            <div class="mmWrapper">
                <div class="mmContent">
                    <div class="mmMenu">
                        <ul class="mmMain">
                            <li>
                                <a href="javascript:void(0)" target="_self">Trang sức</a>
                                <ul>
                                    <li>
                                        <a href="https://ijc.vn/vn/bong-tai.html">BÔNG TAI</a>
                                        <ul>
                                            <li>
                                                <a href="https://ijc.vn/vn/bong-tai-da-quy.html">BÔNG TAI ĐÁ QUÝ</a>
                                            </li>
                                            <li>
                                                <a href="https://ijc.vn/vn/bong-tai-ngoc-trai.html">BÔNG TAI NGỌC TRAI</a>
                                            </li>
                                            <li>
                                                <a href="https://ijc.vn/vn/bong-tai-da-cz.html">BÔNG TAI CZ</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="https://ijc.vn/vn/day-chuyen.html">DÂY LIỀN MẶT</a>
                                        <ul>
                                            <li>
                                                <a href="https://ijc.vn/vn/day-chuyen-da-quy.html">DÂY LIỀN MẶT ĐÁ QUÝ</a>
                                            </li>
                                            <li>
                                                <a href="https://ijc.vn/vn/day-chuyen-ngoc-trai.html">DÂY LIỀN MẶT NGỌC TRAI</a>
                                            </li>
                                            <li>
                                                <a href="https://ijc.vn/vn/day-chuyen-da-cz.html">DÂY LIỀN MẶT ĐÁ CZ</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="https://ijc.vn/vn/lac-va-vong-tay.html">LẮC &amp; VÒNG TAY</a>
                                        <ul>
                                            <li>
                                                <a href="https://ijc.vn/vn/lac-va-vong-da-quy.html">LẮC &amp; VÒNG ĐÁ QUÝ</a>
                                            </li>
                                            <li>
                                                <a href="https://ijc.vn/vn/lac-va-vong-ngoc-trai.html">LẮC &amp; VÒNG NGỌC TRAI</a>
                                            </li>
                                            <li>
                                                <a href="https://ijc.vn/vn/lac-va-vong-da-cz.html">LẮC &amp; VÒNG ĐÁ CZ</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="https://ijc.vn/vn/nhan.html">NHẪN</a>
                                        <ul>
                                            <li>
                                                <a href="https://ijc.vn/vn/nhan-da-quy.html">NHẪN ĐÁ QUÝ NỮ</a>
                                            </li>
                                            <li>
                                                <a href="https://ijc.vn/vn/nhan-da-quy-nam.html">NHẪN ĐÁ QUÝ NAM</a>
                                            </li>
                                            <li>
                                                <a href="https://ijc.vn/vn/nhan-ngoc-trai.html">NHẪN NGỌC TRAI</a>
                                            </li>
                                            <li>
                                                <a href="https://ijc.vn/vn/nhan-da-cz.html">NHẪN ĐÁ CZ</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="https://ijc.vn/vn/mat-day-chuyen.html">MẶT DÂY CHUYỀN</a>
                                        <ul>
                                            <li>
                                                <a href="https://ijc.vn/vn/mat-day-da-quy.html">MẶT DÂY ĐÁ QUÝ</a>
                                            </li>
                                            <li>
                                                <a href="https://ijc.vn/vn/mat-day-ngoc-trai.html">MẶT DÂY NGỌC TRAI</a>
                                            </li>
                                            <li>
                                                <a href="https://ijc.vn/vn/mat-day-da-zc.html">MẶT DÂY ĐÁ CZ</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)" target="_self">Kim cương</a>
                                <ul>
                                    <li>
                                        <a href="https://ijc.vn/vn/nhan-kim-cuong.html">NHẪN KIM CƯƠNG</a>
                                    </li>
                                    <li>
                                        <a href="https://ijc.vn/vn/bong-tai-kim-cuong.html">BÔNG TAI KIM CƯƠNG</a>
                                    </li>
                                    <li>
                                        <a href="https://ijc.vn/vn/mat-day-kim-cuong.html">MẶT DÂY KIM CƯƠNG</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)" target="_self">Trang sức cưới</a>
                                <ul>
                                    <li>
                                        <a href="https://ijc.vn/vn/trang-suc-cuoi-da-quy.html">Trang sức cưới đá quý</a>
                                    </li>
                                    <li>
                                        <a href="https://ijc.vn/vn/trang-suc-cuoi-da-cz.html">Trang sức cưới đá CZ</a>
                                    </li>
                                    <li>
                                        <a href="https://ijc.vn/vn/trang-suc-cuoi-kim-cuong.html">Trang sức cưới Kim cương</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="https://ijc.vn/vn/san-pham-theo-menh.html" target="_self">TRANG SỨC PHONG THỦY</a>
                                <ul>
                                    <li>
                                        <a href="https://ijc.vn/vn/trang-suc-menh-kim.html">TRANG SỨC MỆNH KIM</a>
                                    </li>
                                    <li>
                                        <a href="https://ijc.vn/vn/trang-suc-menh-moc.html">TRANG SỨC MỆNH MỘC</a>
                                    </li>
                                    <li>
                                        <a href="https://ijc.vn/vn/trang-suc-menh-thuy.html">TRANG SỨC MỆNH THỦY</a>
                                    </li>
                                    <li>
                                        <a href="https://ijc.vn/vn/trang-suc-menh-hoa.html">TRANG SỨC MỆNH HỎA</a>
                                    </li>
                                    <li>
                                        <a href="https://ijc.vn/vn/trang-suc-menh-tho.html">TRANG SỨC MỆNH THỔ</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)" target="_self">Bộ sưu tập</a>
                                <ul>
                                    <li>
                                        <a href="https://ijc.vn/vn/anh-thu.html">ÁNH THU</a>
                                    </li>
                                    <li>
                                        <a href="https://ijc.vn/vn/khong-tuoc-vu.html">KHỔNG TƯỚC VŨ</a>
                                    </li>
                                    <li>
                                        <a href="https://ijc.vn/vn/kinh-hoa.html">KÍNH HOA</a>
                                    </li>
                                    <li>
                                        <a href="https://ijc.vn/vn/ngan-hanh.html">NGÂN HẠNH</a>
                                    </li>
                                    <li>
                                        <a href="https://ijc.vn/vn/flamboyant.html">FLAMBOYANT</a>
                                    </li>
                                    <li>
                                        <a href="https://ijc.vn/vn/thuy-nguyet.html">THỦY NGUYỆT</a>
                                    </li>
                                    <li>
                                        <a href="https://ijc.vn/vn/nu-hoang.html">NỮ HOÀNG</a>
                                    </li>
                                    <li>
                                        <a href="https://ijc.vn/vn/sac-ha-xanh.html">SẮC HẠ XANH</a>
                                    </li>
                                    <li>
                                        <a href="https://ijc.vn/vn/tuyet-sac-giai-nhan.html">TUYỆT SẮC GIAI NHÂN</a>
                                    </li>
                                    <li>
                                        <a href="https://ijc.vn/vn/dang-viet.html">DÁNG VIỆT</a>
                                    </li>
                                    <li>
                                        <a href="https://ijc.vn/vn/nguyet-que-tim.html">Nguyệt Quế Tím</a>
                                    </li>
                                    <li>
                                        <a href="https://ijc.vn/vn/sac-hong-duyen-linh.html">SẮC HỒNG DUYÊN LINH</a>
                                    </li>
                                    <li>
                                        <a href="https://ijc.vn/vn/sac-mau-cua-bien.html">SẮC MÀU CỦA BIỂN</a>
                                    </li>
                                    <li>
                                        <a href="https://ijc.vn/vn/primrose.html">Primrose</a>
                                    </li>
                                    <li>
                                        <a href="https://ijc.vn/vn/giot-suong.html">Giọt Sương</a>
                                    </li>
                                    <li>
                                        <a href="https://ijc.vn/vn/the-golden-moon.html">The Golden Moon</a>
                                    </li>
                                    <li>
                                        <a href="https://ijc.vn/vn/princess.html">Princess</a>
                                    </li>
                                    <li>
                                        <a href="https://ijc.vn/vn/mat-troi-phuong-dong.html">Mặt trời phương đông</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="https://ijc.vn/vn/chinh-sach.html" target="_self">CHÍNH SÁCH IJC</a>
                            </li>
                            <li>
                                <a href="https://ijc.vn/vn/thong-tin-charm-app.html" target="_self">Charm App</a>
                            </li>
                        </ul>
                        <ul class="mmPrimary">
                            <li>
                                <a href="https://ijc.vn/vn/gioi-thieu-ijc.html" target="_self">Giới thiệu</a>
                            </li>
                            <li>
                                <a href="https://ijc.vn/vn/cua-hang.html" target="_self">Cửa hàng</a>
                            </li>
                            <li>
                                <a href="https://ijc.vn/vn/khuyen-mai.html" target="_self">Khuyến mãi</a>
                            </li>
                            <li>
                                <a href="https://ijc.vn/chinh-sach-bao-hanh-thu-doi.html" target="_self">Chính Sách Bảo Hành Thu Đổi</a>
                            </li>
                            <li>
                                <a href="https://ijc.vn/vn/lien-he.html" target="_self">Liên hệ</a>
                            </li>
                        </ul>
                    </div>
                    <div class="close-mmenu">
                        <i class="fa fa-times"></i>
                    </div>
                </div>
            </div>
            <div class="divmmbg"></div>
        </div>
    </div>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/655f134eda19b362178ff321/1hftm6riq';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();</script>
    <!--End of Tawk.to Script-->
    <!-- Kết thúc mã nhúng Tawk.to -->
</body>
</html>
@*<script>loadCart();</script>*@
@await Component.InvokeAsync("Notyf")
@await RenderSectionAsync("Scripts", required: false)  