<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("index", "admin", new { Area = "admin" })">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Trang chủ</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("index", "user", new { Area = "admin" })">
                <i class="icon-layout menu-icon"></i>
                <span class="menu-title">Quản lý tài khoản</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("index", "product", new { Area = "admin" })">
                <i class="icon-layout menu-icon"></i>
                <span class="menu-title">Quản lý sản phẩm</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("index", "productdiscount", new { Area = "admin" })">
                <i class="icon-layout menu-icon"></i>
                <span class="menu-title">Quản lý giảm gía</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("index", "store", new { Area = "admin" })">
                <i class="icon-layout menu-icon"></i>
                <span class="menu-title">Quản lý cửa hàng</span>
            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("index", "categoryproduct", new { Area = "admin" })">
                <i class="icon-layout menu-icon"></i>
                <span class="menu-title">Quản lý danh mục sản phẩm</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("index", "user", new { Area = "admin" })">
                <i class="icon-layout menu-icon"></i>
                <span class="menu-title">Quản lý quyền truy cập</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("index", "promotion", new { Area = "admin" })">
                <i class="icon-layout menu-icon"></i>
                <span class="menu-title">Quản lý ưu đãi</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("index", "order", new { Area = "admin" })">
                <i class="icon-layout menu-icon"></i>
                <span class="menu-title">Quản lý đơn hàng</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("index", "salereport", new { Area = "admin" })">
                <i class="icon-layout menu-icon"></i>
                <span class="menu-title">Thống kê doanh thu</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("login", "userlogin")">
                <i class="icon-layout menu-icon"></i>
                <span class="menu-title">Đăng xuất</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="pages/documentation/documentation.html">
                <i class="icon-paper menu-icon"></i>
                <span class="menu-title">Trợ giúp</span>
            </a>
        </li>
    </ul>
</nav>