@{
    Layout = "~/Areas/Customer/Views/Shared/_CustomerLayout.cshtml";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
    <title>Dây liền mặt đá Amethyst 22M.013NMBL</title>
    <meta name="keywords" CONTENT="Dây liền mặt đá Amethyst" />
    <meta name="description" CONTENT="Dây liền mặt đá Amethyst 22M.013NMBL" />
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href="https://ijc.vn/vn/day-lien-mat-da-amethyst-22m-013nmbl.html" />
    <link rel="alternate" media="handheld" href="https://ijc.vn/vn/day-lien-mat-da-amethyst-22m-013nmbl.html" />
    <meta property="fb:app_id" content="564941807505847" />
    <meta itemprop="headline" content="Dây liền mặt đá Amethyst 22M.013NMBL" />
    <meta property="og:url" itemprop="url" content="https://ijc.vn/vn/day-lien-mat-da-amethyst-22m-013nmbl.html" />
    <meta property="og:type" content="article" />
    <meta property="og:title" itemprop="name" content="Dây liền mặt đá Amethyst 22M.013NMBL" />
    <meta property="og:description" itemprop="description" content="Dây liền mặt đá Amethyst 22M.013NMBL" />
    <link rel="image_src" href="https://ijc.vn/vnt_upload/product/12_2022/thumbs/500_Day_lien_mat_da_Amethyst_22M013NMBL.jpg" />
    <meta property="og:image" itemprop="thumbnailUrl" content="https://ijc.vn/vnt_upload/product/12_2022/thumbs/500_Day_lien_mat_da_Amethyst_22M013NMBL.jpg" />
    <meta itemprop="image" content="https://ijc.vn/vnt_upload/product/12_2022/thumbs/500_Day_lien_mat_da_Amethyst_22M013NMBL.jpg" />
    <link rel="SHORTCUT ICON" href="/vnt_upload/File/Image/icon_ijc.png" type="image/x-icon" />
    <link rel="icon" href="/vnt_upload/File/Image/icon_ijc.png" type="image/gif" />
    <link href="https://ijc.vn/js/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://ijc.vn/js/slick/slick.css" rel="stylesheet" type="text/css" />
    <link href="https://ijc.vn/js/slick/slick-theme.css" rel="stylesheet" />
    <link href="https://ijc.vn/js/menumobile/menumobile.css" rel="stylesheet" type="text/css" />
    <link href="https://ijc.vn/js/datepicker/datepicker.css" rel="stylesheet" type="text/css" />
    <link href="https://ijc.vn/js/fancybox3/jquery.fancybox.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="https://ijc.vn/js/jquery_alerts/jquery.alerts.css" rel="stylesheet" type="text/css" />
    <link href="https://ijc.vn/skins/default/style/fontawesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="https://ijc.vn/skins/default/style/font/fontawesome/css/all.min.css" rel="stylesheet" type="text/css" />

    <link href="~/customer/style/all.css" rel="stylesheet" />
    <link href="~/customer/style/styleH.css" rel="stylesheet" />
    <link href="~/customer/style/animate.css" rel="stylesheet" />
    <link href="~/customer/style/hover-min.css" rel="stylesheet" />
    <link href="~/customer/style/screen.css" rel="stylesheet" />

    <script language="javascript">var ROOT = "https://ijc.vn/"; var ROOT_MOD = "https://ijc.vn/vn/san-pham"; var ROOT_PRO = "https://ijc.vn/vn/san-pham"; var mod = "product"; var DIR_IMAGE = "https://ijc.vn/skins/default/images"; var cmd = "vnTRUST"; var lang = "vn"; var mem_id = 0; var js_lang = new Array(); js_lang['announce'] = "Thông báo"; js_lang['error'] = "Báo lỗi";</script>
    <script type="text/javascript" src="https://ijc.vn/js/global.js?lang=vn"></script>
    <script type="text/javascript" src="https://ijc.vn/js/jquery.min.js"></script>
    <script type="text/javascript" src="https://ijc.vn/js/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="https://ijc.vn/js/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://ijc.vn/js/slick/slick.js"></script>
    <script type="text/javascript" src="https://ijc.vn/js/menumobile/menumobile.js"></script>
    <script type="text/javascript" src="https://ijc.vn/js/datepicker/datepicker.js"></script>
    <script type="text/javascript" src="https://ijc.vn/js/fancybox3/jquery.fancybox.js"></script>
    <script type="text/javascript" src="https://ijc.vn/js/nicescroll/jquery.nicescroll.js"></script>
    <script type="text/javascript" src="https://ijc.vn/js/core.js?v=6.0"></script>
    <script type="text/javascript" src="https://ijc.vn/js/style.js"></script>
    <script type="text/javascript" src="https://ijc.vn/js/jquery_alerts/jquery.alerts.js"></script>
    <script type="text/javascript" src="https://ijc.vn/js/mnfixed/mnfixed.js"></script>
    <script type="text/javascript" src="https://ijc.vn/js/my_effect_scroll/my_effect_scroll.js"></script>
    <script type="text/javascript" src="https://ijc.vn/js/wow.min.js"></script>
    <link rel="stylesheet" href="https://ijc.vn/js/zoom_img/easyzoom.css" />
    <script type="text/javascript" src="https://ijc.vn/js/zoom_img/easyzoom.js"></script>
    <script type="text/javascript" src="https://ijc.vn/js/customstyle.js"></script>
    <link rel="stylesheet" href="https://ijc.vn/modules/product/css/product.css" type="text/css" />
    <link rel="stylesheet" href="https://ijc.vn/modules/product/css/customproduct.css" type="text/css" />
    <link rel="stylesheet" href="https://ijc.vn/js/zoom_img/easyzoom.css" type="text/css" />
    <script type="text/javascript" src="https://ijc.vn/js/zoom_img/easyzoom.js"></script>
    <script type="text/javascript" src="https://ijc.vn/modules/product/js/product.js"></script>
    <script type="text/javascript" src="https://ijc.vn/modules/product/js/product-custom.js"></script>
    <script type="text/javascript" src="https://ijc.vn/js/jquery_plugins/jquery.validate.js"></script>
    
    <script type="text/javascript" src="https://ijc.vn/js/custom.js"></script>
    <link rel="stylesheet" href="https://ijc.vn/skins/default/style/custom.css" />
</head>
<body>
    <!-- modal popup cart choose finger size -->
    <div id="fingerSizeModal" class="modal">
        <div class="modal__overlay"></div>
        <div class="modal__body">
            <!-- Register form -->
            <div class="add-cart__popup">
                <div class="add-cart__container">
                    <div class="add-to-cart__header">
                        <div class="modal__close" onclick="closeModalFingerSize()">
                            <i class="fa fa-close"></i>
                        </div>
                        <span class="add-to-cart__heading">VUI LÒNG CHỌN SIZE</span>
                    </div>
                    <div class="add-cart__body">
                        <div class="product-img">
                            <img src="" width="300px" height="300px" alt="#" class="product-thumbnail" />
                        </div>
                        <div class="product-size__info" style="margin-top:14px;">
                            <p style="font-size: 22px;" class="product-name">
                                Bông tai đá Amethyst 22B.013NMBL
                            </p>
                            <div class="product-detail">
                                <div style="color:darkgrey;" class="product-id">Mã SP: 1CB200149</div>
                                <div class="product-rate">
                                    <div style="margin-right: 30px;"><span style="color:#FFC108" class="fa fa-star checked"></span> <i>4 (5)</i></div>
                                    <div><span>2000+ đã bán</span></div>
                                </div>
                            </div>
                            <div class="product-price" style="font-size: 20px;margin-top: 10px;color:#003468">
                                8.360.000 đ
                            </div>
                            <div class="product-size__choose">
                                <div>
                                    <span style="font-size: 16px;">Chọn kích cỡ:</span>
                                </div>
                                <div class="size-wrap" onclick="showFingerSizeGuide()">
                                    <div>
                                        <i><u style="font-size: 14px;">Cách đo size nhẫn</u></i>
                                        <div class="size-guide__table" id="size-guide__table">
                                            <div class="size-guide__table-wrap">
                                                <div class="size-guide-close">
                                                    <i onclick="hideFingerSizeGuide(event)" class="fa fa-close"></i>
                                                </div>
                                                <p style="text-align: center;font-size: 20px;">
                                                    Cách đo size nhẫn
                                                </p>
                                                <div class="size-guide-wrap" style="padding:0;">
                                                    <p style="font-size: 13px;">1. Dùng chỉ hoặc giấy bản nhỏ đo quấn quanh khớp tay, đánh dấu vị trí cắt nhau</p>
                                                    <p style="text-align: center;"> <img class="image-lazyload" alt="1. Dùng chỉ hoặc giấy bản nhỏ đo quấn quanh khớp tay, đánh dấu vị trí cắt nhau" src="https://cdn.pnj.io/images/image-update/2022/guide-size/size-nhan.svg" style="display: inline;" /> </p>
                                                </div>

                                                <div class="size-guide-wrap" style="padding:0;">
                                                    <p style="font-size: 13px;">2. Dùng thước đo chiều dài đoạn dây vừa đo được (đơn vị cm)</p>
                                                    <p style="text-align: center;"> <img class="image-lazyload" alt="1. Dùng chỉ hoặc giấy bản nhỏ đo quấn quanh khớp tay, đánh dấu vị trí cắt nhau" src="https://cdn.pnj.io/images/image-update/2022/guide-size/thuoc-do.svg" style="display: inline;" /> </p>
                                                </div>
                                            </div>
                                            <div class="size__measure">
                                                <div class="size__measure-wrap">
                                                    <span style="font-size: 14px;">Kết quả:</span>
                                                    <div class="size-result-wrap">
                                                        <div><input type="radio" name="chu_vi_ngon_tay" value="9" /> 3.6 cm </div>
                                                        <div><input type="radio" name="chu_vi_ngon_tay" value="10" /> 3.8 cm </div>
                                                        <div><input type="radio" name="chu_vi_ngon_tay" value="11" /> 4.0 cm </div>
                                                        <div><input type="radio" name="chu_vi_ngon_tay" value="12" /> 4.2 cm </div>
                                                        <div><input type="radio" name="chu_vi_ngon_tay" value="13" /> 4.4 cm </div>
                                                        <div><input type="radio" name="chu_vi_ngon_tay" value="14" /> 4.6 cm </div>
                                                        <div><input type="radio" name="chu_vi_ngon_tay" value="15" /> 4.8 cm </div>
                                                    </div>
                                                </div>
                                                @* Script chon size nhan *@
                                                <script>$(document).ready(function () {
                                                        $('input[type=radio][name=chu_vi_ngon_tay]').change(function () {
                                                            console.log(this.value);
                                                            $('#size-result').val(this.value);
                                                        });
                                                    });</script>

                                                <div class="size-description-wrap">
                                                    <span style="font-size: 14px;">Bảng size phổ biến</span>
                                                    <img src="https://cdn.pnj.io/images/image-update/2022/guide-size/nhan_v2.svg" alt="Ruler" style="display: inline; margin-top: 6px;" />
                                                    <br />
                                                    <div style="display: flex; flex-direction: row; margin-top: 30px;">
                                                        <span style="font-size: 13px;align-self: center;">Size nhẫn: </span> <input type="text" style="text-align: center; color: #8F7D59;" id="size-result" readonly="readonly" />
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-size__box">

                            </div>
                            <div class="product-stock" style="margin-top: 10px;font-size: 14px;color:#003468;">
                                Còn hàng
                            </div>
                            <div class="btn-add-to-cart__confirm">
                                <span style="margin:auto;">THÊM VÀO GIỎ HÀNG CỦA BẠN </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- modal popup cart choose wrist size -->

    <div id="wristSizeModal" class="modal">
        <div class="modal__overlay"></div>
        <div class="modal__body">
            <!-- Register form -->
            <div class="add-cart__popup">
                <div class="add-cart__container">
                    <div class="add-to-cart__header">
                        <div class="modal__close" onclick="closeModalWristSize()">
                            <i class="fa fa-close"></i>
                        </div>
                        <span class="add-to-cart__heading">VUI LÒNG CHỌN SIZE</span>
                    </div>
                    <div class="add-cart__body">
                        <div class="product-img">
                            <img src="" width="300px" height="300px" alt="#" class="product-thumbnail" />
                        </div>
                        <div class="product-size__info" style="margin-top:14px;">
                            <p style="font-size: 22px;" class="product-name">
                                Bông tai đá Amethyst 22B.013NMBL
                            </p>
                            <div class="product-detail">
                                <div style="color:darkgrey;" class="product-id">Mã SP: 1CB200149</div>
                                <div class="product-rate">
                                    <div style="margin-right: 30px;"><span style="color:#FFC108" class="fa fa-star checked"></span> <i>4 (5)</i></div>
                                    <div><span>2000+ đã bán</span></div>
                                </div>
                            </div>
                            <div class="product-price" style="font-size: 20px;margin-top: 10px;color:#003468">
                                8.360.000 đ
                            </div>
                            <div class="product-size__choose">
                                <div>
                                    <span style="font-size: 16px;">Chọn kích cỡ:</span>
                                </div>
                                <div class="size-wrap" onclick="showWristSizeGuide()">
                                    <div>
                                        <i><u style="font-size: 14px;">Cách đo size vòng tay</u></i>
                                        <div class="size-guide__table" id="size-wrist-guide__table">
                                            <div class="size-guide__table-wrap">
                                                <div class="size-guide-close">
                                                    <i onclick="hideWristSizeGuide(event)" class="fa fa-close"></i>
                                                </div>
                                                <p style="text-align: center;font-size: 20px;">
                                                    Cách đo size vòng tay
                                                </p>
                                                <div class="size-guide-wrap" style="padding:0;">
                                                    <p style="font-size: 13px;">1. Dùng chỉ hoặc giấy bản nhỏ đo quấn quanh khớp tay, đánh dấu vị trí cắt nhau</p>
                                                    <p style="text-align: center;"> <img class="image-lazyload" alt="1. Dùng chỉ hoặc giấy bản nhỏ đo quấn quanh khớp tay, đánh dấu vị trí cắt nhau" src="https://cdn.pnj.io/images/image-update/2022/guide-size/size-vong-lac.svg" style="display: inline;" /> </p>
                                                </div>

                                                <div class="size-guide-wrap" style="padding:0;">
                                                    <p style="font-size: 13px;">2. Dùng thước đo chiều dài đoạn dây vừa đo được (đơn vị cm)</p>
                                                    <p style="text-align: center;"> <img class="image-lazyload" alt="1. Dùng chỉ hoặc giấy bản nhỏ đo quấn quanh khớp tay, đánh dấu vị trí cắt nhau" src="https://cdn.pnj.io/images/image-update/2022/guide-size/thuoc-do.svg" style="display: inline;" /> </p>
                                                </div>
                                            </div>
                                            <div class="size__measure">
                                                <div class="size__measure-wrap">
                                                    <span style="font-size: 14px;">Kết quả:</span>
                                                    <div class="size-result-wrap">
                                                        <div><input type="radio" name="chu_vi_vong_tay" value="12" /> 6.6 cm </div>
                                                        <div><input type="radio" name="chu_vi_vong_tay" value="13" /> 6.8 cm </div>
                                                        <div><input type="radio" name="chu_vi_vong_tay" value="14" /> 7.0 cm </div>
                                                        <div><input type="radio" name="chu_vi_vong_tay" value="15" /> 7.2 cm </div>
                                                        <div><input type="radio" name="chu_vi_vong_tay" value="16" /> 7.8 cm </div>
                                                    </div>
                                                </div>
                                                @* Script chon size nhan *@

                                                <script>$(document).ready(function () {
                                                        $('input[type=radio][name=chu_vi_vong_tay]').change(function () {
                                                            console.log(this.value);
                                                            $('#size-result-wrist').val(this.value);
                                                        });
                                                    });</script>

                                                <div class="size-description-wrap">
                                                    <span style="font-size: 14px;">Bảng size phổ biến</span>
                                                    <img src="https://cdn.pnj.io/images/image-update/2022/guide-size/nhan_v2.svg" alt="Ruler" style="display: inline; margin-top: 6px;" />
                                                    <br />
                                                    <div style="display: flex; flex-direction: row; margin-top: 30px;">
                                                        <span style="font-size: 13px;align-self: center;">Size vòng tay: </span> <input type="text" style="text-align: center; color: #8F7D59;" id="size-result-wrist" readonly="readonly" />
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-size__box">

                            </div>
                            <div class="product-stock" style="margin-top: 10px;font-size: 14px;color:#003468;">
                                Còn hàng
                            </div>
                            <input type="hidden" id="size" value="0" />
                            <input type="hidden" id="product-id" value="0" />
                            <div class="btn-add-to-cart__confirm">
                                <span style="margin:auto;">THÊM VÀO GIỎ HÀNG CỦA BẠN </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="vnt-content">
        <div id="vnt-product-detail">
            <div class="product_detail_wrapper">
                <div class="img_grp wow fadeInLeft" data-wow-delay="0.5s">
                    <div class="slider-detail">
                        <div id="slider-detail">
                            <div class="item">
                                <div class="img easyzoom easyzoom--overlay">
                                    <a class="fancybox-img" data-fancybox="gallery"
                                       href="~/admin/images/products/@ViewBag.productDetail.THUMB_NAIL" title="@ViewBag.productDetail.NAME">
                                        <img src="~/admin/images/products/@ViewBag.productDetail.THUMB_NAIL" alt="@ViewBag.productDetail.NAME" />
                                    </a>
                                </div>
                            </div>

                            @foreach (var item in ViewBag.productDetail.IMAGES)
                            {
                                <div class="item">
                                    <div class="img easyzoom easyzoom--overlay">
                                        <a class="fancybox-img" data-fancybox="gallery"
                                           href="~/admin/images/products/@item.NameImages" title="">
                                            <img src="~/admin/images/products/@item.NameImages" alt="" />
                                        </a>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="wrap-slider-thumbnail">

                            <div id="slider-thumbnail">
                                <div class="item">
                                    <div class="img"><img src="~/admin/images/products/@ViewBag.productDetail.THUMB_NAIL" alt="@ViewBag.productDetail.NAME" /></div>
                                </div>
                                @foreach (var item in ViewBag.productDetail.IMAGES)
                                {
                                    <div class="item">
                                        <div class="img">
                                            <img src="~/admin/images/products/@item.NameImages" alt="" />
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info_grp wow fadeInRight" data-wow-delay="0.5s">
                    <div class="vnt-title">
                        <h1>@ViewBag.productDetail.NAME</h1>
                    </div>
                    <div class="product_des">
                        <ul>
                            <li>
                                <span>Mã SP</span>
                                <span>@ViewBag.productDetail.CODE</span>
                            </li>
                            <li class="price">
                                <span>Giá</span>
                                <span>
                                    @if (@ViewBag.productDetail.PRICE_AFTER_DISCOUNT == 0)
                                    {
                                        <div class="product_price">
                                            <span class="sale_price">@ViewBag.productDetail.PRICE.ToString("#,###")đ</span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="product_price">
                                            <span class="sale_price">@ViewBag.productDetail.PRICE_AFTER_DISCOUNT.ToString("#,###")đ   <del style="color:#999;font-size:12px; font-weight:lighter;">@ViewBag.productDetail.PRICE.ToString("#,###")đ</del></span>
                                        </div>
                                    }

                                </span>
                            </li>
                            <li>
                                <span>Mệnh</span>
                                <span>@ViewBag.productDetail.GEOMANCY</span>
                            </li>
                            <li class="">
                                <span>Màu sắc:</span>
                                <span>@ViewBag.productDetail.COLOR</span>
                            </li>

                            <li class="">
                                <span>Loại đá chính:</span>
                                <span>@ViewBag.productDetail.MAIN_STONE</span>
                            </li>

                            <li class="">
                                <span>Loại đá phụ:</span>
                                <span>@ViewBag.productDetail.SUB_STONE</span>
                            </li>
                            <li class="">
                                <span>Lượt xem:</span>
                                <span>@ViewBag.productDetail.countProduct</span>
                            </li>
                        </ul>
                    </div>
                    <div class="productSell">
                        <ul>
                            <li>
                                <input type="button" data-id="@ViewBag.productDetail.CODE" class="btn btn-add-to-cart" style="background-color:#8f7d59; width:324px;height:44px;border-radius:0;color:#FFFFFF;" value="Thêm vào giỏ hàng" />
                            </li>
                            <li>
                                <a class="callContect" href="jvascript:void(0);"><span>GỌI LẠI CHO TÔI</span></a>
                            </li>
                        </ul>
                        <div class="popupCall">
                            <div class="bgAllPop">
                            </div>
                            <div class="contentPop">
                                <div class="closePop">
                                </div>
                                <div class="infoPopCall">
                                    <div class="title">DỊCH VỤ HỖ TRỢ TƯ VẤN MIỄN PHÍ</div>
                                    <div class="content">
                                        <div class="thumb">
                                            <img src="https://ijc.vn/vnt_upload/product/12_2022/thumbs/1000_Day_lien_mat_da_Amethyst_22M013NMBL.jpg" alt="Dây liền mặt đá Amethyst 22M.013NMBL" />
                                        </div>
                                        <div class="decs">
                                            <form id="formF" name="formF" method="POST" action="" class="form validate">
                                                <div class="err"></div>
                                                <div class="titleFo">Dây liền mặt đá Amethyst 22M.013NMBL</div>
                                                <div class="form-group">
                                                    <label for="">Họ và tên * </label>
                                                    <input type="text" name="name" id="name" class="form-control required" value="" placeholder="Họ và tên *" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="">Số Điện thoại *   </label>
                                                    <input type="text" name="phone" id="phone" class="form-control required" value="" placeholder="Số Điện thoại *" />
                                                </div>
                                                <div class="noteF">Dịch vụ hỗ trợ  Tư vấn miễn phí  cho khách hàng hoạt động từ 8h - 18h (Thứ 2 tới Thứ 7).</div>
                                                <div class="form-group">
                                                    <input type="hidden" name="p_id" value="1911" />
                                                    <input type="hidden" name="p_name" value="Dây liền mặt đá Amethyst 22M.013NMBL" />
                                                    <input type="hidden" name="maso" value="1CM200157" />
                                                    <button name="do_submit" value="GỬI YÊU CẦU">GỬI YÊU CẦU</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="productInfo">
                <div class="colL wow fadeInLeft" data-wow-delay="0.5s">
                    <div class="infoDetail">
                        <div class="title">Phản hồi từ khách hàng</div>
                        <div class="review__wrapper">
                            <div class="review__wrapper-header">
                                <span>Bình luận</span>
                                <i class="fa fa-close"></i>
                            </div>
                            <hr style="background-color:#043b87; height:0.7px; width:800px;margin-top: 12px; margin-bottom: 8px;" />
                            <div class="review__wrapper-title">
                                <span style="margin-top:30px;">Đánh giá trải nghiệm sản phẩm</span>
                                <div class="btn btn-leave-comment" style="line-height: 2.3;">Thêm bình luận</div>
                            </div>

                            <!-- Load customer comment here -->

                            @if (ViewBag.customerReviews != null && ViewBag.customerReviews.Count > 0)
                            {
                                @foreach (var item in ViewBag.customerReviews)
                                {
                                    @if (item.IS_UPDATE)
                                    {
                                        <div class="review__wrapper-discussion">
                                            <div class="review__wrapper-customer">
                                                <div class="review__wrapper-rate">
                                                    <span>@item.CUSTOMER_NAME: </span>
                                                    @for (int i = 1; i <= item.RATE; i++)
                                                    {
                                                        <span style="color:#FFC108" class="fa fa-star checked"></span>
                                                    }
                                                </div>
                                                <p>@item.CONTENT</p>
                                            </div>
                                        </div>
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="colR wow fadeInRight" data-wow-delay="0.5s">
                    <div class="itemColR hidden">
                        <div class="titleCol">SẢN PHẨM NỔi BẬT</div>
                        <div class="contentCol">
                            <div class="product_wrapper related_slider_2 vhbtnslick">

                            </div>
                        </div>
                    </div>
                    <div class="itemColR ">
                        <div class="titleCol">Sản phẩm bạn đã xem</div>
                        <div class="contentCol">
                            <div class="product_wrapper related_slider_2 vhbtnslick">
                                <!-- Load viewed product here -->
                                @if (ViewBag.viewedProducts !=null)
                                {
                                    @foreach (var item in ViewBag.viewedProducts)
                                    {
                                        <div class="item_box">
                                            <div class="itemproductall">
                                                <div class="thumb">
                                                    <a class="vhthumbzoom vhthumb-100 vhthumb-center" asp-area="customer" asp-controller="product" asp-action="detail" asp-route-id="@item.CODE">
                                                        <img src="~/admin/images/products/@item.THUMB_NAIL" alt="@item.NAME" />
                                                    </a>
                                                </div>
                                                <div class="decs">
                                                    <div class="dstile">
                                                        <h3><a href="https://ijc.vn/vn/mat-day-da-topaz-22m136.html">@item.NAME</a></h3>
                                                    </div>
                                                    <div class="dsprive">
                                                        @if (@item.PRICE_AFTER_DISCOUNT == 0)
                                                        {
                                                                <span class="sale_price">@item.PRICE.ToString("#,###")đ</span>
                                                        }
                                                        else
                                                        {
                                                                <span class="sale_price">@item.PRICE_AFTER_DISCOUNT.ToString("#,###")đ   <del style="color:#999;font-size:12px; font-weight:lighter;">@item.PRICE.ToString("#,###")đ</del></span>
                                                        }
                                                    </div>
                                                    <div class="dsview">
                                                        <input type="button" data-id="@item.CODE" class="btn btn-add-to-cart" style="background-color:#8f7d59; width:180px;height:43px;border-radius:0;color:#FFFFFF;" value="Thêm vào giỏ hàng" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="clear"></div>
    </div>
</body>
</html>