@{
    Layout = "~/Areas/Customer/Views/Shared/_CustomerLayout.cshtml";
}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
    <title>NHAN DA QUY</title>
    <link rel="SHORTCUT ICON" href="/vnt_upload/File/Image/icon_ijc.png" type="image/x-icon" />
    <link rel="icon" href="/vnt_upload/File/Image/icon_ijc.png" type="image/gif" />
    <link href="https://ijc.vn/js/slick/slick.css" rel="stylesheet" type="text/css" />
    <link href="https://ijc.vn/js/slick/slick-theme.css" rel="stylesheet" />
    <link href="https://ijc.vn/js/menumobile/menumobile.css" rel="stylesheet" type="text/css" />
    <link href="https://ijc.vn/js/datepicker/datepicker.css" rel="stylesheet" type="text/css" />
    <link href="https://ijc.vn/js/fancybox3/jquery.fancybox.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="https://ijc.vn/js/jquery_alerts/jquery.alerts.css" rel="stylesheet" type="text/css" />
    <link href="https://ijc.vn/skins/default/style/fontawesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="https://ijc.vn/skins/default/style/font/fontawesome/css/all.min.css" rel="stylesheet" type="text/css" />


    <script language="javascript">var ROOT = "https://ijc.vn/"; var ROOT_MOD = "https://ijc.vn/vn/san-pham"; var ROOT_PRO = "https://ijc.vn/vn/san-pham"; var mod = "product"; var DIR_IMAGE = "https://ijc.vn/skins/default/images"; var cmd = "vnTRUST"; var lang = "vn"; var mem_id = 0; var js_lang = new Array(); js_lang['announce'] = "Thông báo"; js_lang['error'] = "Báo lỗi";</script>
    <script type="text/javascript" src="https://ijc.vn/js/global.js?lang=vn"></script>
    <script type="text/javascript" src="https://ijc.vn/js/jquery.min.js"></script>
    <script type="text/javascript" src="https://ijc.vn/js/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="https://ijc.vn/js/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://ijc.vn/js/slick/slick.js"></script>
    <script type="text/javascript" src="https://ijc.vn/js/menumobile/menumobile.js"></script>
    <script type="text/javascript" src="https://ijc.vn/js/datepicker/datepicker.js"></script>
    <script type="text/javascript" src="https://ijc.vn/js/fancybox3/jquery.fancybox.js"></script>
    <script type="text/javascript" src="https://ijc.vn/js/nicescroll/jquery.nicescroll.js"></script>
    <script type="text/javascript" src="https://ijc.vn/js/core.js?v=6.0"></script>
    <script type="text/javascript" src="https://ijc.vn/js/style.js"></script>
    <script type="text/javascript" src="https://ijc.vn/js/jquery_alerts/jquery.alerts.js"></script>
    <script type="text/javascript" src="https://ijc.vn/js/mnfixed/mnfixed.js"></script>
    <script type="text/javascript" src="https://ijc.vn/js/my_effect_scroll/my_effect_scroll.js"></script>
    <script type="text/javascript" src="https://ijc.vn/js/wow.min.js"></script>
    <link rel="stylesheet" href="https://ijc.vn/js/zoom_img/easyzoom.css" />
    <script type="text/javascript" src="https://ijc.vn/js/zoom_img/easyzoom.js"></script>
    <script type="text/javascript" src="https://ijc.vn/js/customstyle.js"></script>
    <link rel="stylesheet" href="https://ijc.vn/modules/product/css/product.css" type="text/css" />
    <link rel="stylesheet" href="https://ijc.vn/modules/product/css/customproduct.css" type="text/css" />
    <script type="text/javascript" src="https://ijc.vn/modules/product/js/product-custom.js"></script>
    <script type="text/javascript" src="https://ijc.vn/modules/product/js/product.js"></script>
    <meta name="facebook-domain-verification" content="g8ve7t3f2ig63h8la10d4z6f8drhp3" />

    <!-- CSS -->
    <link rel="stylesheet" href="~/customer/style/styleH.css" />
</head>
<body>
    <div id="vnt-content">
        <div id="vnt-product-c2">
            <div class="vnt-banner wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.5s"
                 style="background-image: url('https://ijc.vn/vnt_upload/product/10_2021/nhan_nu.jpg');"></div>
            <div class="boxproduct">
                <div class="productnblv">
                    <div class="productmmhome">
                        <div class="wrapping">
                            <div class="vhproductmm">
                                <div class="vhtitlemm">
                                    <div class="title">
                                        <h2>SẢN PHẨM NỔi BẬT</h2>
                                    </div>
                                    <div class="view hidden">
                                        <a href="https://ijc.vn/vn/.html">
                                            <span class="fa-angle-right">Xem tất cả</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="vhcontmm">
                                    <div class="hidden-xs hidden-sm">
                                        <div class="slproductmm vhbtnslick vhbtnslickam vhslick-lg-15">

                                            <div class="colsl">
                                                <div class="itemproductall">
                                                    <div class="thumb">
                                                        <a class="vhthumbzoom vhthumb-100 vhthumb-center" href="https://ijc.vn/vn/mat-day-da-topaz-22m136.html">
                                                            <img src="https://ijc.vn/vnt_upload/product/02_2023/thumbs/1600_crop_Mat_day_da_Topaz_22M136.jpg" alt="Mặt dây đá Topaz 22M136" />
                                                        </a>
                                                    </div>
                                                    <div class="decs">
                                                        <div class="dstile">
                                                            <h3><a href="https://ijc.vn/vn/mat-day-da-topaz-22m136.html">Mặt dây đá Topaz 22M136</a></h3>
                                                        </div>
                                                        <div class="dsprive">
                                                            <span class="dsnews">9,884,000 đ</span>
                                                        </div>

                                                        <div class="dsview">
                                                            <div class="viewall">
                                                                <a class="addCart addCartpop" href="https://ijc.vn/vn/mat-day-da-topaz-22m136.html/?popup=1" data_id="1973">
                                                                    <i class="icon-cart1"></i>
                                                                    <span>Thêm vào giỏ hàng</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="colsl">
                                                <div class="itemproductall">
                                                    <div class="thumb">
                                                        <a class="vhthumbzoom vhthumb-100 vhthumb-center" href="https://ijc.vn/vn/mat-day-da-citrine-22m071.html">
                                                            <img src="https://ijc.vn/vnt_upload/product/02_2023/thumbs/1600_crop_Mat_day_da_Citrine_22M071.jpg" alt="Mặt dây đá Citrine 22M071" />
                                                        </a>
                                                    </div>
                                                    <div class="decs">
                                                        <div class="dstile">
                                                            <h3><a href="https://ijc.vn/vn/mat-day-da-citrine-22m071.html">Mặt dây đá Citrine 22M071</a></h3>
                                                        </div>
                                                        <div class="dsprive">
                                                            <span class="dsnews">5,323,000 đ</span>
                                                        </div>

                                                        <div class="dsview">
                                                            <div class="viewall">
                                                                <a class="addCart addCartpop" href="https://ijc.vn/vn/mat-day-da-citrine-22m071.html/?popup=1" data_id="1967">
                                                                    <i class="icon-cart1"></i>
                                                                    <span>Thêm vào giỏ hàng</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="colsl">
                                                <div class="itemproductall">
                                                    <div class="thumb">
                                                        <a class="vhthumbzoom vhthumb-100 vhthumb-center" href="https://ijc.vn/vn/mat-day-da-peridot-22m035.html">
                                                            <img src="https://ijc.vn/vnt_upload/product/02_2023/thumbs/1600_crop_Mat_day_da_Peridot_22M035.jpg" alt="Mặt dây đá Peridot 22M035" />
                                                        </a>
                                                    </div>
                                                    <div class="decs">
                                                        <div class="dstile">
                                                            <h3><a href="https://ijc.vn/vn/mat-day-da-peridot-22m035.html">Mặt dây đá Peridot 22M035</a></h3>
                                                        </div>
                                                        <div class="dsprive">
                                                            <span class="dsnews">6,466,000 đ</span>
                                                        </div>

                                                        <div class="dsview">
                                                            <div class="viewall">
                                                                <a class="addCart addCartpop" href="https://ijc.vn/vn/mat-day-da-peridot-22m035.html/?popup=1" data_id="1964">
                                                                    <i class="icon-cart1"></i>
                                                                    <span>Thêm vào giỏ hàng</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="colsl">
                                                <div class="itemproductall">
                                                    <div class="thumb">
                                                        <a class="vhthumbzoom vhthumb-100 vhthumb-center" href="https://ijc.vn/vn/nhan-da-citrine-22n122.html">
                                                            <img src="https://ijc.vn/vnt_upload/product/01_2023/thumbs/1600_crop_Nhan_da_Citrine_22N122.jpg" alt="Nhẫn đá Citrine 22N122" />
                                                        </a>
                                                    </div>
                                                    <div class="decs">
                                                        <div class="dstile">
                                                            <h3><a href="https://ijc.vn/vn/nhan-da-citrine-22n122.html">Nhẫn đá Citrine 22N122</a></h3>
                                                        </div>
                                                        <div class="dsprive">
                                                            <span class="dsnews">5,993,000 đ</span>
                                                        </div>

                                                        <div class="dsview">
                                                            <div class="viewall">
                                                                <a class="addCart addCartpop" href="https://ijc.vn/vn/nhan-da-citrine-22n122.html/?popup=1" data_id="1943">
                                                                    <i class="icon-cart1"></i>
                                                                    <span>Thêm vào giỏ hàng</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="colsl">
                                                <div class="itemproductall">
                                                    <div class="thumb">
                                                        <a class="vhthumbzoom vhthumb-100 vhthumb-center" href="https://ijc.vn/vn/nhan-da-topaz-22n123.html">
                                                            <img src="https://ijc.vn/vnt_upload/product/10_2022/thumbs/1600_crop_Nhan_da_Topaz_22N123.jpg" alt="Nhẫn đá Topaz 22N123" />
                                                        </a>
                                                    </div>
                                                    <div class="decs">
                                                        <div class="dstile">
                                                            <h3><a href="https://ijc.vn/vn/nhan-da-topaz-22n123.html">Nhẫn đá Topaz 22N123</a></h3>
                                                        </div>
                                                        <div class="dsprive">
                                                            <span class="dsnews">7,233,000 đ</span>
                                                        </div>

                                                        <div class="dsview">
                                                            <div class="viewall">
                                                                <a class="addCart addCartpop" href="https://ijc.vn/vn/nhan-da-topaz-22n123.html/?popup=1" data_id="1870">
                                                                    <i class="icon-cart1"></i>
                                                                    <span>Thêm vào giỏ hàng</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="colsl">
                                                <div class="itemproductall">
                                                    <div class="thumb">
                                                        <a class="vhthumbzoom vhthumb-100 vhthumb-center" href="https://ijc.vn/vn/nhan-da-garnet-22n053.html">
                                                            <img src="https://ijc.vn/vnt_upload/product/01_2023/thumbs/1600_crop_Nhan_da_Garnet_22N053.jpg" alt="Nhẫn đá Garnet 22N053" />
                                                        </a>
                                                    </div>
                                                    <div class="decs">
                                                        <div class="dstile">
                                                            <h3><a href="https://ijc.vn/vn/nhan-da-garnet-22n053.html">Nhẫn đá Garnet 22N053</a></h3>
                                                        </div>
                                                        <div class="dsprive">
                                                            <span class="dsnews">7,083,000 đ</span>
                                                        </div>

                                                        <div class="dsview">
                                                            <div class="viewall">
                                                                <a class="addCart addCartpop" href="https://ijc.vn/vn/nhan-da-garnet-22n053.html/?popup=1" data_id="1938">
                                                                    <i class="icon-cart1"></i>
                                                                    <span>Thêm vào giỏ hàng</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="colsl">
                                                <div class="itemproductall">
                                                    <div class="thumb">
                                                        <a class="vhthumbzoom vhthumb-100 vhthumb-center" href="https://ijc.vn/vn/bong-tai-da-rhodolite-22b021.html">
                                                            <img src="https://ijc.vn/vnt_upload/product/08_2022/thumbs/1600_crop_Bong_tai_da_Rhodolite_22B021.jpg" alt="Bông tai đá Rhodolite 22B021" />
                                                        </a>
                                                    </div>
                                                    <div class="decs">
                                                        <div class="dstile">
                                                            <h3><a href="https://ijc.vn/vn/bong-tai-da-rhodolite-22b021.html">Bông tai đá Rhodolite 22B021</a></h3>
                                                        </div>
                                                        <div class="dsprive">
                                                            <span class="dsnews">6,621,000 đ</span>
                                                        </div>

                                                        <div class="dsview">
                                                            <div class="viewall">
                                                                <a class="addCart addCartpop" href="https://ijc.vn/vn/bong-tai-da-rhodolite-22b021.html/?popup=1" data_id="1712">
                                                                    <i class="icon-cart1"></i>
                                                                    <span>Thêm vào giỏ hàng</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="colsl">
                                                <div class="itemproductall">
                                                    <div class="thumb">
                                                        <a class="vhthumbzoom vhthumb-100 vhthumb-center" href="https://ijc.vn/vn/bong-tai-da-amethyst-21b385.html">
                                                            <img src="https://ijc.vn/vnt_upload/product/02_2023/thumbs/1600_crop_Bong_tai_da_Amethyst_21B385.jpg" alt="Bông tai đá Amethyst 21B385" />
                                                        </a>
                                                    </div>
                                                    <div class="decs">
                                                        <div class="dstile">
                                                            <h3><a href="https://ijc.vn/vn/bong-tai-da-amethyst-21b385.html">Bông tai đá Amethyst 21B385</a></h3>
                                                        </div>
                                                        <div class="dsprive">
                                                            <span class="dsnews">9,472,000 đ</span>
                                                        </div>

                                                        <div class="dsview">
                                                            <div class="viewall">
                                                                <a class="addCart addCartpop" href="https://ijc.vn/vn/bong-tai-da-amethyst-21b385.html/?popup=1" data_id="1984">
                                                                    <i class="icon-cart1"></i>
                                                                    <span>Thêm vào giỏ hàng</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="colsl">
                                                <div class="itemproductall">
                                                    <div class="thumb">
                                                        <a class="vhthumbzoom vhthumb-100 vhthumb-center" href="https://ijc.vn/vn/bong-tai-da-sapphire-22b023.html">
                                                            <img src="https://ijc.vn/vnt_upload/product/09_2022/thumbs/1600_crop_Bong_tai_da_Sapphire_22B023.jpg" alt="Bông tai đá Sapphire 22B023" />
                                                        </a>
                                                    </div>
                                                    <div class="decs">
                                                        <div class="dstile">
                                                            <h3><a href="https://ijc.vn/vn/bong-tai-da-sapphire-22b023.html">Bông tai đá Sapphire 22B023</a></h3>
                                                        </div>
                                                        <div class="dsprive">
                                                            <span class="dsnews">8,582,000 đ</span>
                                                        </div>

                                                        <div class="dsview">
                                                            <div class="viewall">
                                                                <a class="addCart addCartpop" href="https://ijc.vn/vn/bong-tai-da-sapphire-22b023.html/?popup=1" data_id="1743">
                                                                    <i class="icon-cart1"></i>
                                                                    <span>Thêm vào giỏ hàng</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="hidden-md hidden-lg">
                                        <div class="grproductmm vhflex vhflex-scroll-block">

                                            <div class="colsl">
                                                <div class="itemproductall">
                                                    <div class="thumb">
                                                        <a class="vhthumbzoom vhthumb-100 vhthumb-center" href="https://ijc.vn/vn/mat-day-da-topaz-22m136.html">
                                                            <img src="https://ijc.vn/vnt_upload/product/02_2023/thumbs/1600_crop_Mat_day_da_Topaz_22M136.jpg" alt="Mặt dây đá Topaz 22M136" />
                                                        </a>
                                                    </div>
                                                    <div class="decs">
                                                        <div class="dstile">
                                                            <h3><a href="https://ijc.vn/vn/mat-day-da-topaz-22m136.html">Mặt dây đá Topaz 22M136</a></h3>
                                                        </div>
                                                        <div class="dsprive">
                                                            <div class="dsnews"><span class="dsnews">9,884,000 đ</span></div>
                                                        </div>
                                                        <div class="dsview">
                                                            <div class="viewall">
                                                                <a class="addCart addCartpop" href="https://ijc.vn/vn/mat-day-da-topaz-22m136.html/?popup=1" data_id="1973">
                                                                    <i class="icon-cart1"></i>
                                                                    <span>Thêm vào giỏ hàng</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="colsl">
                                                <div class="itemproductall">
                                                    <div class="thumb">
                                                        <a class="vhthumbzoom vhthumb-100 vhthumb-center" href="https://ijc.vn/vn/mat-day-da-citrine-22m071.html">
                                                            <img src="https://ijc.vn/vnt_upload/product/02_2023/thumbs/1600_crop_Mat_day_da_Citrine_22M071.jpg" alt="Mặt dây đá Citrine 22M071" />
                                                        </a>
                                                    </div>
                                                    <div class="decs">
                                                        <div class="dstile">
                                                            <h3><a href="https://ijc.vn/vn/mat-day-da-citrine-22m071.html">Mặt dây đá Citrine 22M071</a></h3>
                                                        </div>
                                                        <div class="dsprive">
                                                            <div class="dsnews"><span class="dsnews">5,323,000 đ</span></div>
                                                        </div>
                                                        <div class="dsview">
                                                            <div class="viewall">
                                                                <a class="addCart addCartpop" href="https://ijc.vn/vn/mat-day-da-citrine-22m071.html/?popup=1" data_id="1967">
                                                                    <i class="icon-cart1"></i>
                                                                    <span>Thêm vào giỏ hàng</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="colsl">
                                                <div class="itemproductall">
                                                    <div class="thumb">
                                                        <a class="vhthumbzoom vhthumb-100 vhthumb-center" href="https://ijc.vn/vn/mat-day-da-peridot-22m035.html">
                                                            <img src="https://ijc.vn/vnt_upload/product/02_2023/thumbs/1600_crop_Mat_day_da_Peridot_22M035.jpg" alt="Mặt dây đá Peridot 22M035" />
                                                        </a>
                                                    </div>
                                                    <div class="decs">
                                                        <div class="dstile">
                                                            <h3><a href="https://ijc.vn/vn/mat-day-da-peridot-22m035.html">Mặt dây đá Peridot 22M035</a></h3>
                                                        </div>
                                                        <div class="dsprive">
                                                            <div class="dsnews"><span class="dsnews">6,466,000 đ</span></div>
                                                        </div>
                                                        <div class="dsview">
                                                            <div class="viewall">
                                                                <a class="addCart addCartpop" href="https://ijc.vn/vn/mat-day-da-peridot-22m035.html/?popup=1" data_id="1964">
                                                                    <i class="icon-cart1"></i>
                                                                    <span>Thêm vào giỏ hàng</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="colsl">
                                                <div class="itemproductall">
                                                    <div class="thumb">
                                                        <a class="vhthumbzoom vhthumb-100 vhthumb-center" href="https://ijc.vn/vn/nhan-da-citrine-22n122.html">
                                                            <img src="https://ijc.vn/vnt_upload/product/01_2023/thumbs/1600_crop_Nhan_da_Citrine_22N122.jpg" alt="Nhẫn đá Citrine 22N122" />
                                                        </a>
                                                    </div>
                                                    <div class="decs">
                                                        <div class="dstile">
                                                            <h3><a href="https://ijc.vn/vn/nhan-da-citrine-22n122.html">Nhẫn đá Citrine 22N122</a></h3>
                                                        </div>
                                                        <div class="dsprive">
                                                            <div class="dsnews"><span class="dsnews">5,993,000 đ</span></div>
                                                        </div>
                                                        <div class="dsview">
                                                            <div class="viewall">
                                                                <a class="addCart addCartpop" href="https://ijc.vn/vn/nhan-da-citrine-22n122.html/?popup=1" data_id="1943">
                                                                    <i class="icon-cart1"></i>
                                                                    <span>Thêm vào giỏ hàng</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="colsl">
                                                <div class="itemproductall">
                                                    <div class="thumb">
                                                        <a class="vhthumbzoom vhthumb-100 vhthumb-center" href="https://ijc.vn/vn/nhan-da-topaz-22n123.html">
                                                            <img src="https://ijc.vn/vnt_upload/product/10_2022/thumbs/1600_crop_Nhan_da_Topaz_22N123.jpg" alt="Nhẫn đá Topaz 22N123" />
                                                        </a>
                                                    </div>
                                                    <div class="decs">
                                                        <div class="dstile">
                                                            <h3><a href="https://ijc.vn/vn/nhan-da-topaz-22n123.html">Nhẫn đá Topaz 22N123</a></h3>
                                                        </div>
                                                        <div class="dsprive">
                                                            <div class="dsnews"><span class="dsnews">7,233,000 đ</span></div>
                                                        </div>
                                                        <div class="dsview">
                                                            <div class="viewall">
                                                                <a class="addCart addCartpop" href="https://ijc.vn/vn/nhan-da-topaz-22n123.html/?popup=1" data_id="1870">
                                                                    <i class="icon-cart1"></i>
                                                                    <span>Thêm vào giỏ hàng</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="colsl">
                                                <div class="itemproductall">
                                                    <div class="thumb">
                                                        <a class="vhthumbzoom vhthumb-100 vhthumb-center" href="https://ijc.vn/vn/nhan-da-garnet-22n053.html">
                                                            <img src="https://ijc.vn/vnt_upload/product/01_2023/thumbs/1600_crop_Nhan_da_Garnet_22N053.jpg" alt="Nhẫn đá Garnet 22N053" />
                                                        </a>
                                                    </div>
                                                    <div class="decs">
                                                        <div class="dstile">
                                                            <h3><a href="https://ijc.vn/vn/nhan-da-garnet-22n053.html">Nhẫn đá Garnet 22N053</a></h3>
                                                        </div>
                                                        <div class="dsprive">
                                                            <div class="dsnews"><span class="dsnews">7,083,000 đ</span></div>
                                                        </div>
                                                        <div class="dsview">
                                                            <div class="viewall">
                                                                <a class="addCart addCartpop" href="https://ijc.vn/vn/nhan-da-garnet-22n053.html/?popup=1" data_id="1938">
                                                                    <i class="icon-cart1"></i>
                                                                    <span>Thêm vào giỏ hàng</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="colsl">
                                                <div class="itemproductall">
                                                    <div class="thumb">
                                                        <a class="vhthumbzoom vhthumb-100 vhthumb-center" href="https://ijc.vn/vn/bong-tai-da-rhodolite-22b021.html">
                                                            <img src="https://ijc.vn/vnt_upload/product/08_2022/thumbs/1600_crop_Bong_tai_da_Rhodolite_22B021.jpg" alt="Bông tai đá Rhodolite 22B021" />
                                                        </a>
                                                    </div>
                                                    <div class="decs">
                                                        <div class="dstile">
                                                            <h3><a href="https://ijc.vn/vn/bong-tai-da-rhodolite-22b021.html">Bông tai đá Rhodolite 22B021</a></h3>
                                                        </div>
                                                        <div class="dsprive">
                                                            <div class="dsnews"><span class="dsnews">6,621,000 đ</span></div>
                                                        </div>
                                                        <div class="dsview">
                                                            <div class="viewall">
                                                                <a class="addCart addCartpop" href="https://ijc.vn/vn/bong-tai-da-rhodolite-22b021.html/?popup=1" data_id="1712">
                                                                    <i class="icon-cart1"></i>
                                                                    <span>Thêm vào giỏ hàng</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="colsl">
                                                <div class="itemproductall">
                                                    <div class="thumb">
                                                        <a class="vhthumbzoom vhthumb-100 vhthumb-center" href="https://ijc.vn/vn/bong-tai-da-amethyst-21b385.html">
                                                            <img src="https://ijc.vn/vnt_upload/product/02_2023/thumbs/1600_crop_Bong_tai_da_Amethyst_21B385.jpg" alt="Bông tai đá Amethyst 21B385" />
                                                        </a>
                                                    </div>
                                                    <div class="decs">
                                                        <div class="dstile">
                                                            <h3><a href="https://ijc.vn/vn/bong-tai-da-amethyst-21b385.html">Bông tai đá Amethyst 21B385</a></h3>
                                                        </div>
                                                        <div class="dsprive">
                                                            <div class="dsnews"><span class="dsnews">9,472,000 đ</span></div>
                                                        </div>
                                                        <div class="dsview">
                                                            <div class="viewall">
                                                                <a class="addCart addCartpop" href="https://ijc.vn/vn/bong-tai-da-amethyst-21b385.html/?popup=1" data_id="1984">
                                                                    <i class="icon-cart1"></i>
                                                                    <span>Thêm vào giỏ hàng</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="colsl">
                                                <div class="itemproductall">
                                                    <div class="thumb">
                                                        <a class="vhthumbzoom vhthumb-100 vhthumb-center" href="https://ijc.vn/vn/bong-tai-da-sapphire-22b023.html">
                                                            <img src="https://ijc.vn/vnt_upload/product/09_2022/thumbs/1600_crop_Bong_tai_da_Sapphire_22B023.jpg" alt="Bông tai đá Sapphire 22B023" />
                                                        </a>
                                                    </div>
                                                    <div class="decs">
                                                        <div class="dstile">
                                                            <h3><a href="https://ijc.vn/vn/bong-tai-da-sapphire-22b023.html">Bông tai đá Sapphire 22B023</a></h3>
                                                        </div>
                                                        <div class="dsprive">
                                                            <div class="dsnews"><span class="dsnews">8,582,000 đ</span></div>
                                                        </div>
                                                        <div class="dsview">
                                                            <div class="viewall">
                                                                <a class="addCart addCartpop" href="https://ijc.vn/vn/bong-tai-da-sapphire-22b023.html/?popup=1" data_id="1743">
                                                                    <i class="icon-cart1"></i>
                                                                    <span>Thêm vào giỏ hàng</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="boxproduct">
                <div class="vhpadding-lg-top-40 vhpadding-lg-bottom-50">
                    <div class="vnt-title wow fadeInUp" data-wow-delay="1s">
                        <div class="wrapping">
                            <h1>NHẪN ĐÁ QUÝ</h1>
                        </div>
                    </div>
                    <div class="vnt-filter wow fadeInUp" data-wow-delay="0.5s">
                        <div class="wrapping">
                            <div class="box_filter">
                                <div class="filter_wrapper filter_tool hidden-sm hidden-xs" data-text="Lọc theo:">

                                    <div class="item_filter">
                                        <div class="filter_title">
                                            Loại sản phẩm<i class="fas fa-caret-down"></i>
                                        </div>
                                        <div class="filter_popup">
                                            <a class="item_popup item  active" href="https://ijc.vn/vn/nhan-da-quy.html">NHẪN ĐÁ QUÝ </a><a class="item_popup item " href="https://ijc.vn/vn/bong-tai-da-quy.html">BÔNG TAI ĐÁ QUÝ </a><a class="item_popup item " href="https://ijc.vn/vn/day-chuyen-da-quy.html">DÂY CHUYỀN ĐÁ QUÝ </a><a class="item_popup item " href="https://ijc.vn/vn/lac-va-vong-da-quy.html">LẮC &amp; VÒNG ĐÁ QUÝ </a><a class="item_popup item " href="https://ijc.vn/vn/mat-day-da-quy.html">MẶT DÂY ĐÁ QUÝ </a>
                                        </div>
                                    </div>

                                    <div class="item_filter">
                                        <div class="filter_title">
                                            Giá <i class="fas fa-caret-down"></i>
                                        </div>
                                        <div class="filter_popup">
                                            <a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=1&max_prices=1000000">0 - 1,000,000 VNĐ</a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=1&min_prices=1000000&max_prices=5000000">1,000,000 VNĐ - 5,000,000 VNĐ</a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=1&min_prices=5000000&max_prices=7000000">5,000,000 VNĐ - 7,000,000 VNĐ</a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=1&min_prices=7000000&max_prices=150000000">7,000,000 VNĐ - 150,000,000 VNĐ</a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=1&min_prices=150000000"> 150,000,000 VNĐ - Trở lên</a>

                                            <div class="custom_range_price">
                                                <form method="get">
                                                    <p>Chỉnh mức giá</p>
                                                    <div class="custom_grp">
                                                        <input type="text" name="min_prices" placeholder="min" value="" />
                                                        <span>đến</span>
                                                        <input type="text" name="max_prices" placeholder="max" value="" />
                                                        <input type="hidden" name="gender" value="" />
                                                        <input type="hidden" name="collection" value="" />
                                                        <input type="hidden" name="color" value="" />
                                                        <input type="hidden" name="material" value="" />
                                                        <input type="hidden" name="sort" value="" />
                                                    </div>
                                                    <button class="custom_price_button">Tìm kiếm</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item_filter">
                                        <div class="filter_title">
                                            Giới tính <i class="fas fa-caret-down"></i>
                                        </div>
                                        <div class="filter_popup">
                                            <a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&gender=1">Nữ </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&gender=2">Nam </a>
                                        </div>
                                    </div>
                                    <div class="item_filter">
                                        <div class="filter_title">
                                            Bộ sưu tập <i class="fas fa-caret-down"></i>
                                        </div>
                                        <div class="filter_popup">
                                            <a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&collection=18">Princess </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&collection=17">Mặt Trời Phương Đông </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&collection=16">The Golden Moon </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&collection=15">Giọt Sương </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&collection=14">Thủy Nguyệt </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&collection=13">Sắc Màu Của Biển </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&collection=12">Sắc Hồng Duyên Linh </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&collection=11">Nguyệt Quế Tím </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&collection=10">Dáng Việt </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&collection=9">Khổng Tước Vũ </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&collection=8">Kính Hoa </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&collection=7">Flamboyant </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&collection=6">Primrose </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&collection=5">Ánh Thu </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&collection=4">Ngân Hạnh </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&collection=3">Nữ Hoàng </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&collection=2">Tuyệt Sắc Giai Nhân </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&collection=1">Sắc Hạ Xanh </a>
                                        </div>
                                    </div>
                                    <div class="item_filter">
                                        <div class="filter_title">
                                            Màu sắc <i class="fas fa-caret-down"></i>
                                        </div>
                                        <div class="filter_popup">
                                            <a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&color=18">Xám khói </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&color=17">Hồng tím </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&color=16">Hồng </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&color=15">Xanh dương </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&color=14">Xanh lá </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&color=13">Xanh lam </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&color=8">Nâu </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&color=12">Tím </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&color=6">Đen </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&color=5">Vàng đồng </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&color=4">Bạc </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&color=3">Trắng </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&color=2">Xám </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&color=1">Vàng </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&color=7">Xanh da trời </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&color=9">Đỏ </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&color=10">Cam </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&color=11">Xanh lục </a>
                                        </div>
                                    </div>
                                    <div class="item_filter">
                                        <div class="filter_title">
                                            Chất liệu <i class="fas fa-caret-down"></i>
                                        </div>
                                        <div class="filter_popup">
                                            <a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&material=25">Thạch Anh </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&material=24">Agate </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&material=23">Moissanite </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&material=22">Smoky </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&material=21">Ngọc trai </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&material=18">Aquamarine </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&material=17">Garnet </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&material=16">Tourmaline </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&material=15">Zircon </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&material=14">Opal </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&material=13">Citrine </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&material=12">Rhodolite </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&material=11">Peridot </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&material=10">Ametrine </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&material=9">Amethyst </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&material=8">Topaz </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&material=7">Sapphire </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&material=4">Kim cương </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&material=3">Ruby </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&material=1">Vàng 10K </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&material=6">Vàng 14K </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&material=19">Vàng 18K </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="filter_mobile_wrapper hidden-lg hidden-md">
                                    <a class="open_filter" data-fancybox=data-fancybox data-src="#filter_respon" href="javascript:;">Lọc theo:</a>
                                </div>
                                <div class="sort_wrapper filter_tool" data-text="Sắp xếp theo">
                                    <div class="item_filter">
                                        <div class="filter_title hidden-md hidden-lg">
                                            Sắp xếp theo
                                        </div>
                                        <div class="filter_title hidden-sm hidden-xs">Giá cao đến thấp <i class="fas fa-caret-down"></i></div><div class="filter_popup"><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&sort=1">Giá cao đến thấp </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&sort=2">Giá thấp đến cao </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&sort=3">Xem nhiều </a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="box_result hidden-sm hidden-xs">
                                <div class="result_content hidden">
                                    <div class="view_more clear_all">
                                        <a href="#">Xoá tất cả</a>
                                    </div>
                                    <div class="result">
                                        <div class="r_item">
                                            <a href="#"><i class="fas fa-times"></i></a>
                                            Vàng
                                        </div>
                                        <div class="r_item">
                                            <a href="#"><i class="fas fa-times"></i></a>
                                            Bạc
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box_showing hidden-sm hidden-xs" data-text="Hiển thị 1 - 20 của 508">

                            </div>
                        </div>
                    </div>

                    <div class="product_c2_wrapper">
                        <div class="wrapping">
                            <div class="product_wrapper" id="add_product">
                                @foreach (var item in ViewBag.pros)
                                {
                                    <div class="item_box">
                                        <div class="itemproductall">
                                            <div class="thumb">
                                                @if (item.DISCOUNT_VALUE != null)
                                                {
                                                    <div class="discount-banner">-@item.DISCOUNT_VALUE%</div>
                                                }
                                                <a class="vhthumbzoom vhthumb-100 vhthumb-center" href="https://ijc.vn/vn/nhan-da-citrine-22n-049nmbl.html">
                                                    <img src="/admin/images/products/@item.IMAGE" alt="@item.NAME" />
                                                </a>
                                            </div>
                                            <div class="decs">
                                                <div class="dstile">
                                                    <h3><a style="color:#333;" asp-area="customer" asp-controller="product" asp-action="detail" asp-route-id="@item.PRODUCT_ID">@item.NAME</a></h3>
                                                </div>
                                                <div class="dsprive">
                                                    @if (item.DISCOUNT_VALUE != null)
                                                    {
                                                        var discountedPrice = item.PRICE * (100 - item.DISCOUNT_VALUE) / 100;
                                                        <span class="dsnews" style="margin-left:10px;margin-right:10px;">@discountedPrice.ToString("#,###") đ</span>
                                                        <span class="dsnews" style="font-size:14px;color:#999"><del><small>@item.PRICE.ToString("#,###") đ</small></del></span>
                                                    }
                                                    else
                                                    {
                                                        <span class="dsnews">@item.PRICE.ToString("#,###") đ</span>
                                                    }
                                                </div>

                                                <div class="dsview">
                                                    <div class="dsview">
                                                        <input type="button" data-id="@item.PRODUCT_ID" class="btn btn-add-to-cart" value="Thêm vào giỏ hàng" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="result_text wow fadeInUp" data-wow-delay="0.5s">
                                1 - 20 trên 508 kết quả cho NHẪN ĐÁ QUÝ
                            </div>
                            <div class="view_more wow fadeInUp" data-wow-delay="0.5s" id="show_product_cus" cat_id="7" pageid="1" num="488" totals="508" min_prices="" max_prices="" gender="" collection="" color="" material="" sort="">
                                <a href="javascript:;">XEM THÊM SẢN PHẨM</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>


        <div id="filter_respon" style="display: none;">
            <h3 class="t1">Lọc theo:</h3>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default filter_grp ">
                    <div class="panel-heading">
                        <h4 class="panel-title filter_title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Giá</a> <i class="fas fa-caret-down"></i>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body filter_body">
                            <a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=1&max_prices=1000000">0 - 1,000,000 VNĐ</a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=1&min_prices=1000000&max_prices=5000000">1,000,000 VNĐ - 5,000,000 VNĐ</a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=1&min_prices=5000000&max_prices=7000000">5,000,000 VNĐ - 7,000,000 VNĐ</a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=1&min_prices=7000000&max_prices=150000000">7,000,000 VNĐ - 150,000,000 VNĐ</a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=1&min_prices=150000000"> 150,000,000 VNĐ - Trở lên</a>

                            <div class="custom_range_price">
                                <form method="get">
                                    <p>Chỉnh mức giá</p>
                                    <div class="custom_grp">
                                        <input type="text" name="min_prices" placeholder="min" value="" />
                                        <span class="hidden">đến</span>
                                        <input type="text" name="max_prices" placeholder="max" value="" />
                                        <input type="hidden" name="gender" value="" />
                                        <input type="hidden" name="collection" value="" />
                                        <input type="hidden" name="color" value="" />
                                        <input type="hidden" name="material" value="" />
                                        <input type="hidden" name="sort" value="" />
                                    </div>
                                    <button class="custom_price_button">Tìm kiếm</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default filter_grp">
                    <div class="panel-heading">
                        <h4 class="panel-title filter_title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Giới tính</a> <i class="fas fa-caret-down"></i>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body filter_body">
                            <a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&gender=1">Nữ </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&gender=2">Nam </a>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default filter_grp">
                    <div class="panel-heading">
                        <h4 class="panel-title filter_title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Bộ sưu tập</a> <i class="fas fa-caret-down"></i>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body filter_body">
                            <a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&collection=18">Princess </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&collection=17">Mặt Trời Phương Đông </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&collection=16">The Golden Moon </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&collection=15">Giọt Sương </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&collection=14">Thủy Nguyệt </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&collection=13">Sắc Màu Của Biển </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&collection=12">Sắc Hồng Duyên Linh </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&collection=11">Nguyệt Quế Tím </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&collection=10">Dáng Việt </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&collection=9">Khổng Tước Vũ </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&collection=8">Kính Hoa </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&collection=7">Flamboyant </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&collection=6">Primrose </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&collection=5">Ánh Thu </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&collection=4">Ngân Hạnh </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&collection=3">Nữ Hoàng </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&collection=2">Tuyệt Sắc Giai Nhân </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&collection=1">Sắc Hạ Xanh </a>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default filter_grp ">
                    <div class="panel-heading">
                        <h4 class="panel-title filter_title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Màu sắc</a> <i class="fas fa-caret-down"></i>
                        </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body filter_body">
                            <a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&color=18">Xám khói </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&color=17">Hồng tím </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&color=16">Hồng </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&color=15">Xanh dương </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&color=14">Xanh lá </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&color=13">Xanh lam </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&color=8">Nâu </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&color=12">Tím </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&color=6">Đen </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&color=5">Vàng đồng </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&color=4">Bạc </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&color=3">Trắng </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&color=2">Xám </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&color=1">Vàng </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&color=7">Xanh da trời </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&color=9">Đỏ </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&color=10">Cam </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&color=11">Xanh lục </a>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default filter_grp ">
                    <div class="panel-heading">
                        <h4 class="panel-title filter_title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Chất liệu</a> <i class="fas fa-caret-down"></i>
                        </h4>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse">
                        <div class="panel-body filter_body">
                            <a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&material=25">Thạch Anh </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&material=24">Agate </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&material=23">Moissanite </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&material=22">Smoky </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&material=21">Ngọc trai </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&material=18">Aquamarine </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&material=17">Garnet </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&material=16">Tourmaline </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&material=15">Zircon </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&material=14">Opal </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&material=13">Citrine </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&material=12">Rhodolite </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&material=11">Peridot </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&material=10">Ametrine </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&material=9">Amethyst </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&material=8">Topaz </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&material=7">Sapphire </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&material=4">Kim cương </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&material=3">Ruby </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&material=1">Vàng 10K </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&material=6">Vàng 14K </a><a class="item_popup item " href="https://ijc.vn/vn/nhan-da-quy.html/?filter=100&material=19">Vàng 18K </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="result_grp">

            </div>
        </div>
        <div class="clear"></div>
    </div>
</body>

<!-- modal popup cart choose finger size -->
<div id="fingerSizeModal" class="modal">
    <div class="modal__overlay"></div>
    <div class="modal__body">
        <!-- Register form -->
        <div class="add-cart__popup">
            <div class="add-cart__container">
                <div class="add-to-cart__header">
                    <div class="modal__close" onclick="closeModalFingerSize()">
                        <i class="fa fa-close"></i>
                    </div>
                    <span class="add-to-cart__heading">VUI LÒNG CHỌN SIZE</span>
                </div>
                <div class="add-cart__body">
                    <div class="product-img">
                        <img src="" width="300px" height="300px" alt="#" class="product-thumbnail" />
                    </div>
                    <div class="product-size__info" style="margin-top:14px;">
                        <p style="font-size: 22px;" class="product-name">
                            Bông tai đá Amethyst 22B.013NMBL
                        </p>
                        <div class="product-detail">
                            <div style="color:darkgrey;" class="product-id">Mã SP: 1CB200149</div>
                            <div class="product-rate">
                                <div style="margin-right: 30px;"><span style="color:#FFC108" class="fa fa-star checked"></span> <i>4 (5)</i></div>
                                <div><span>2000+ đã bán</span></div>
                            </div>
                        </div>
                        <div class="product-price" style="font-size: 20px;margin-top: 10px;color:#003468">
                            8.360.000 đ
                        </div>
                        <div class="product-size__choose">
                            <div>
                                <span style="font-size: 16px;">Chọn kích cỡ:</span>
                            </div>
                            <div class="size-wrap" onclick="showFingerSizeGuide()">
                                <div>
                                    <i><u style="font-size: 14px;">Cách đo size nhẫn</u></i>
                                    <div class="size-guide__table" id="size-guide__table">
                                        <div class="size-guide__table-wrap">
                                            <div class="size-guide-close">
                                                <i onclick="hideFingerSizeGuide(event)" class="fa fa-close"></i>
                                            </div>
                                            <p style="text-align: center;font-size: 20px;">
                                                Cách đo size nhẫn
                                            </p>
                                            <div class="size-guide-wrap" style="padding:0;">
                                                <p style="font-size: 13px;">1. Dùng chỉ hoặc giấy bản nhỏ đo quấn quanh khớp tay, đánh dấu vị trí cắt nhau</p>
                                                <p style="text-align: center;"> <img class="image-lazyload" alt="1. Dùng chỉ hoặc giấy bản nhỏ đo quấn quanh khớp tay, đánh dấu vị trí cắt nhau" src="https://cdn.pnj.io/images/image-update/2022/guide-size/size-nhan.svg" style="display: inline;" /> </p>
                                            </div>

                                            <div class="size-guide-wrap" style="padding:0;">
                                                <p style="font-size: 13px;">2. Dùng thước đo chiều dài đoạn dây vừa đo được (đơn vị cm)</p>
                                                <p style="text-align: center;"> <img class="image-lazyload" alt="1. Dùng chỉ hoặc giấy bản nhỏ đo quấn quanh khớp tay, đánh dấu vị trí cắt nhau" src="https://cdn.pnj.io/images/image-update/2022/guide-size/thuoc-do.svg" style="display: inline;" /> </p>
                                            </div>
                                        </div>
                                        <div class="size__measure">
                                            <div class="size__measure-wrap">
                                                <span style="font-size: 14px;">Kết quả:</span>
                                                <div class="size-result-wrap">
                                                    <div><input type="radio" name="chu_vi_ngon_tay" value="9" /> 3.6 cm </div>
                                                    <div><input type="radio" name="chu_vi_ngon_tay" value="10" /> 3.8 cm </div>
                                                    <div><input type="radio" name="chu_vi_ngon_tay" value="11" /> 4.0 cm </div>
                                                    <div><input type="radio" name="chu_vi_ngon_tay" value="12" /> 4.2 cm </div>
                                                    <div><input type="radio" name="chu_vi_ngon_tay" value="13" /> 4.4 cm </div>
                                                    <div><input type="radio" name="chu_vi_ngon_tay" value="14" /> 4.6 cm </div>
                                                    <div><input type="radio" name="chu_vi_ngon_tay" value="15" /> 4.8 cm </div>
                                                </div>
                                            </div>
                                            @* Script chon size nhan *@
                                            <script>$(document).ready(function () {
                                                    $('input[type=radio][name=chu_vi_ngon_tay]').change(function () {
                                                        console.log(this.value);
                                                        $('#size-result').val(this.value);
                                                    });
                                                });</script>

                                            <div class="size-description-wrap">
                                                <span style="font-size: 14px;">Bảng size phổ biến</span>
                                                <img src="https://cdn.pnj.io/images/image-update/2022/guide-size/nhan_v2.svg" alt="Ruler" style="display: inline; margin-top: 6px;" />
                                                <br />
                                                <div style="display: flex; flex-direction: row; margin-top: 30px;">
                                                    <span style="font-size: 13px;align-self: center;">Size nhẫn: </span> <input type="text" style="text-align: center; color: #8F7D59;" id="size-result" readonly="readonly" />
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-size__box">

                        </div>
                        <div class="product-stock" style="margin-top: 10px;font-size: 14px;color:#003468;">
                            Còn hàng
                        </div>
                        <div class="btn-add-to-cart__confirm">
                            <span style="margin:auto;">THÊM VÀO GIỎ HÀNG CỦA BẠN </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- modal popup cart choose wrist size -->

<div id="wristSizeModal" class="modal">
    <div class="modal__overlay"></div>
    <div class="modal__body">
        <!-- Register form -->
        <div class="add-cart__popup">
            <div class="add-cart__container">
                <div class="add-to-cart__header">
                    <div class="modal__close" onclick="closeModalWristSize()">
                        <i class="fa fa-close"></i>
                    </div>
                    <span class="add-to-cart__heading">VUI LÒNG CHỌN SIZE</span>
                </div>
                <div class="add-cart__body">
                    <div class="product-img">
                        <img src="" width="300px" height="300px" alt="#" class="product-thumbnail" />
                    </div>
                    <div class="product-size__info" style="margin-top:14px;">
                        <p style="font-size: 22px;" class="product-name">
                            Bông tai đá Amethyst 22B.013NMBL
                        </p>
                        <div class="product-detail">
                            <div style="color:darkgrey;" class="product-id">Mã SP: 1CB200149</div>
                            <div class="product-rate">
                                <div style="margin-right: 30px;"><span style="color:#FFC108" class="fa fa-star checked"></span> <i>4 (5)</i></div>
                                <div><span>2000+ đã bán</span></div>
                            </div>
                        </div>
                        <div class="product-price" style="font-size: 20px;margin-top: 10px;color:#003468">
                            8.360.000 đ
                        </div>
                        <div class="product-size__choose">
                            <div>
                                <span style="font-size: 16px;">Chọn kích cỡ:</span>
                            </div>
                            <div class="size-wrap" onclick="showWristSizeGuide()">
                                <div>
                                    <i><u style="font-size: 14px;">Cách đo size vòng tay</u></i>
                                    <div class="size-guide__table" id="size-wrist-guide__table">
                                        <div class="size-guide__table-wrap">
                                            <div class="size-guide-close">
                                                <i onclick="hideWristSizeGuide(event)" class="fa fa-close"></i>
                                            </div>
                                            <p style="text-align: center;font-size: 20px;">
                                                Cách đo size vòng tay
                                            </p>
                                            <div class="size-guide-wrap" style="padding:0;">
                                                <p style="font-size: 13px;">1. Dùng chỉ hoặc giấy bản nhỏ đo quấn quanh khớp tay, đánh dấu vị trí cắt nhau</p>
                                                <p style="text-align: center;"> <img class="image-lazyload" alt="1. Dùng chỉ hoặc giấy bản nhỏ đo quấn quanh khớp tay, đánh dấu vị trí cắt nhau" src="https://cdn.pnj.io/images/image-update/2022/guide-size/size-vong-lac.svg" style="display: inline;" /> </p>
                                            </div>

                                            <div class="size-guide-wrap" style="padding:0;">
                                                <p style="font-size: 13px;">2. Dùng thước đo chiều dài đoạn dây vừa đo được (đơn vị cm)</p>
                                                <p style="text-align: center;"> <img class="image-lazyload" alt="1. Dùng chỉ hoặc giấy bản nhỏ đo quấn quanh khớp tay, đánh dấu vị trí cắt nhau" src="https://cdn.pnj.io/images/image-update/2022/guide-size/thuoc-do.svg" style="display: inline;" /> </p>
                                            </div>
                                        </div>
                                        <div class="size__measure">
                                            <div class="size__measure-wrap">
                                                <span style="font-size: 14px;">Kết quả:</span>
                                                <div class="size-result-wrap">
                                                    <div><input type="radio" name="chu_vi_vong_tay" value="12" /> 6.6 cm </div>
                                                    <div><input type="radio" name="chu_vi_vong_tay" value="13" /> 6.8 cm </div>
                                                    <div><input type="radio" name="chu_vi_vong_tay" value="14" /> 7.0 cm </div>
                                                    <div><input type="radio" name="chu_vi_vong_tay" value="15" /> 7.2 cm </div>
                                                    <div><input type="radio" name="chu_vi_vong_tay" value="16" /> 7.8 cm </div>
                                                </div>
                                            </div>
                                            @* Script chon size nhan *@

                                            <script>$(document).ready(function () {
                                                    $('input[type=radio][name=chu_vi_vong_tay]').change(function () {
                                                        console.log(this.value);
                                                        $('#size-result-wrist').val(this.value);
                                                    });
                                                });</script>

                                            <div class="size-description-wrap">
                                                <span style="font-size: 14px;">Bảng size phổ biến</span>
                                                <img src="https://cdn.pnj.io/images/image-update/2022/guide-size/nhan_v2.svg" alt="Ruler" style="display: inline; margin-top: 6px;" />
                                                <br />
                                                <div style="display: flex; flex-direction: row; margin-top: 30px;">
                                                    <span style="font-size: 13px;align-self: center;">Size vòng tay: </span> <input type="text" style="text-align: center; color: #8F7D59;" id="size-result-wrist" readonly="readonly" />
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-size__box">

                        </div>
                        <div class="product-stock" style="margin-top: 10px;font-size: 14px;color:#003468;">
                            Còn hàng
                        </div>
                        <input type="hidden" id="size" value="0" />
                        <input type="hidden" id="product-id" value="0" />
                        <div class="btn-add-to-cart__confirm">
                            <span style="margin:auto;">THÊM VÀO GIỎ HÀNG CỦA BẠN </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>